<!-- First One -->
<div class="card mb-3">
  <div class="row g-0">

    <div class="card-body ">


      <div class="justify-content-between d-flex totalPrice py-2 px-2  " style="border-top: none;">
        <p class="txtOfCountFinal mb-0">{{'cart.total' | translate}} </p>
        <p class="txtOfCountFinal mb-0">{{cartService.finalTotalPrice | number: '3.0-0'}} {{'products.le' | translate}}</p>
      </div>

    </div>


  </div>
</div>

<!-- Second One -->
<div class="card mb-3">
  <div class="row g-0">

    <div class="card-body ">

      <div class="py-2 px-2 payment-method">
        <p class="headerOfSelectPayment mb-4">{{'cart.selectPaymentMethod' | translate}}</p>

        <div class="form-check pb-2 ">

          <input class="form-check-input" type="radio" name="paymentMethod" id="flexRadioDefault3" [value]="'credit'"
            (change)="onPaymentMethodChange(paymentMethodEnum.CreditCard)"
            checked
            >
            <div class="d-inline-flex gap-2 me-2">
              <img src="assets/images/payment/MasterCard.png" alt="MasterCard">
              <img src="assets/images/payment/visa.png" alt="Visa">
             <label class="form-check-label lblOfPayment" for="flexRadioDefault3">
              {{'cart.creditCard' | translate}}
          </label>
        </div>

        </div>
        <div class="form-check pb-2">
          <input class="form-check-input" type="radio" name="paymentMethod" id="Valu" [value]="'Valu'"
            (change)="onPaymentMethodChange(paymentMethodEnum.Valu)"
            >
            <div class="d-inline-flex gap-2 me-2">
              <img src="assets/images/payment/valu.jpg" alt="Valu">
              <label class="form-check-label lblOfPayment" for="Valu">
                {{'cart.valu' | translate}}
              </label>
            </div>
        </div>

        <div class="form-check pb-2">
          <input class="form-check-input" type="radio" name="paymentMethod" id="MeezaQR" [value]="'MeezaQR'"
            (change)="onPaymentMethodChange(paymentMethodEnum.MeezaQR)"
            >
            <div class="d-inline-flex gap-2 me-2">
              <img src="assets/images/payment/wallet.png" alt="wallet">

              <label class="form-check-label lblOfPayment" for="MeezaQR">
                {{'cart.mobileWallet' | translate}}
              </label>
            </div>
        </div>

        <div class="form-check pb-2">
          <input class="form-check-input" type="radio" name="paymentMethod" id="Aman" [value]="'Aman'"
            (change)="onPaymentMethodChange(paymentMethodEnum.Aman)"
            >
            <div class="d-inline-flex gap-2 me-2 aman">
              <img src="assets/images/payment/aman.jpg" alt="Aman">
              <label class="form-check-label lblOfPayment" for="Aman">
                {{'cart.aman' | translate}}
              </label>
            </div>
        </div>


        <div class="form-check pb-2">
          <input class="form-check-input" type="radio" name="paymentMethod" id="Forsa" [value]="'Forsa'"
            (change)="onPaymentMethodChange(paymentMethodEnum.Forsa)"
            >
            <div class="d-inline-flex gap-2 me-2 forsa">
              <img src="assets/images/payment/forsa.png" alt="Forsa">
              <label class="form-check-label lblOfPayment" for="Forsa">
                {{'cart.forsa' | translate}}
              </label>
            </div>
        </div>

        <!-- @if (cartService.finalTotalPrice <= 30000) { <div class="form-check ">
          <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault4" [value]="'cash'"
            (change)="onPaymentMethodChange(paymentMethodEnum.COD)"
            [checked]="selectedPaymentMethod === paymentMethodEnum.COD">
          <label class="form-check-label lblOfPayment" for="flexRadioDefault4">
            Cash on Delivery
          </label>
      </div>
      } -->
      <!-- Confirm -->
      <div class="d-flex justify-content-center  mt-4 ">
        <button class="btn btnAddToCart py-3" role="button" [disabled]="!isOrdered" (click)="next()">
          @if(isOrdered)
          {
            {{'cart.confirm' | translate}}
          }
          @else {
            <div class="loader"></div>
          }
        </button>
      </div>
    </div>


  </div>


</div>
</div>

<!-- third One -->


