
/* First Card */
.txtOfCountFinal {
    font-size: 16px;
    font-weight: 600;
    line-height: 19.5px;
    text-align: center;
    color: rgba(0, 0, 0, 1);
  }


  /* === */
  /* Second Card */
  .headerOfSelectPayment {
    color: rgba(0, 0, 0, 1);
    font-size: 16px;
    font-weight: 500;
    line-height: 19.5px;
    text-align: left;
  }

  .lblOfPayment {
    display: flex;
    align-items: center;
    color: rgba(92, 92, 92, 1);
    font-size: 16px;
    font-weight: 400;
    line-height: 19.5px;
    letter-spacing: 0.08em;
    text-align: left;
  }

  .txtCardDetails {
    font-size: 14px;
    font-weight: 500;
    line-height: 17.07px;
    letter-spacing: 0.08em;
    text-align: left;
    color: rgba(85, 85, 85, 1);
  }



.radioProtection {
    color: rgba(0, 99, 61, 1);
    font-size: 15px;
    font-weight: 500;
    line-height: 18.29px;
    letter-spacing: 0.08em;
    text-align: left;
  }

  .form-check-input:checked {
    background-color: rgba(0, 99, 61, 1);
    border-color: rgba(0, 99, 61, 1);

    box-shadow: none;
  }

  .payment-method .aman img ,
  .payment-method .forsa img {
    height:  35px;
  }
  .payment-method  img {
    height:  20px;
  }
  /* ==== */
  /* third one */



.userInput {
    padding: 15px 25px;
    background-color: rgba(244, 244, 244, 1);
    border: none;
  }

  .form-control:focus{
    box-shadow: none;
  }

  .iconOfInput {
    background-color: rgba(244, 244, 244, 1);
    border: none;
    padding-right: 25px;
  }

  input[type="text"],
  input[type="tel"] {
    color: rgba(85, 85, 85, 1);
    font-size: 14px;
    font-weight: 500;
    line-height: 17.07px;
    letter-spacing: 0.08em;
    text-align: left;
  }


   /* === */
  /* Add To Cart */
  .btnAddToCart {
    width: 100%;
    background: rgba(107, 155, 136, 1);
    color: white;

    font-size: 16px;
    font-weight: 600;
    line-height: 19.5px;
    letter-spacing: 0.08em;
    text-align: center;
  }

  .loader {
    width: 24px;
    height: 24px;
    border-radius: 50%;
    display: inline-block;
    position: relative;
    border: 3px solid;
    border-color: #FFF #FFF transparent transparent;
    box-sizing: border-box;
    animation: rotation 2s linear infinite;
  }
  .loader::after,
  .loader::before {
    content: '';
    box-sizing: border-box;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    border: 3px solid;
    border-color: transparent transparent #000 #000;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    box-sizing: border-box;
    animation: rotationBack 1s linear infinite;
    transform-origin: center center;
  }
  .loader::before {
    width: 16px;
    height: 16px;
    border-color: #FFF #FFF transparent transparent;
    animation: rotation 3s linear infinite;
  }


  @keyframes rotation {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  @keyframes rotationBack {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(-360deg);
    }
  }
