<div class="container my-5 pt-4 pb-5">
  <h1 class="text-center">Return & Refunds</h1>
  <p class="mt-4">Need to return an item to its seller?<br> This step-by-step guide will help you send off the item with
    peace of mind so you can get your refund, repair, or replacement underway quickly.</p>
  <p class="fw-normal">Unless you’ve damaged it, you can generally return any item for a full refund or exchange within
    14 days of receiving it. Even when those 14 days are over, you're still covered by our <span
      class="fw-semibold text-decoration-underline">1-year warranty</span> in case a technical issue comes up and you
    need to have the product repaired. </p>
  <p>For more information, and to avoid unnecessary delays, <a routerLink="returns-and-refunds">take a closer look at
      our return policy</a> and then follow the steps below.</p>

  <h2 class="mt-5 mb-3">Contact Dayra Market Customer Care</h2>
  <ul>
    <li>Open the Contact Us page</li>
    <li>Fill the form and choose Return in the Subject Topic and write your order number</li>
    <li>Please tell us the reason for return in the subject box</li>


    <h3 class="mt-5 mb-4">Prepare your item for its voyage</h3>
    <h4 (click)=" navigateToSection('step1')" class="mt-3 main-content">Step 1. Check your warranty coverage</h4>
    <h4 (click)=" navigateToSection('step2')" class="mt-3 main-content">Step 2. Send us photos of your item when we contact
      you by mail</h4>
    <h4 (click)=" navigateToSection('step3')" class="mt-3 main-content">Step 3. Back up and/or transfer your data</h4>
    <h4 (click)=" navigateToSection('step4')" class="mt-3 main-content">Step 4. Place your order details inside the return package</h4>
    <h4 (click)=" navigateToSection('step5')" class="mt-3 main-content">Step 5. Pack your item according to our instructions</h4>
    <h4 (click)=" navigateToSection('step6')" class="mt-3 main-content">Step 6. Ship it to the seller</h4>
  </ul>
  <h2 id="step1" class="mt-5 mb-4">Step 1: Check Your Warranty Coverage</h2>
  <p>Please note that if your item has significant physical damage (e.g., broken screen), oxidation (liquid damage), or
    was opened by a third party, it won’t be covered by the Dayra Market warranty.</p>
  <p>For out-of-warranty items, the seller will return the device to you unrepaired. If the seller is unable to repair
    the item under the warranty, it doesn’t automatically mean it’s unrepairable. You can still take it to a local
    repair shop.</p>

<h2 id="step2" class="mt-5 mb-4">Step 2. Send Us Photos of Your Item</h2>
<p>To avoid a dispute over the condition of your item, please take clear, bright, and, ideally, reflection-free photos that show the buttons and ports on the item. Once we respond to your message regarding your return request, you can attach the photos in the same conversation. If you’re unable to send the photos in a single message, you can send them individually.</p>

<h3 class="mt-5 mb-4">Photos of Smartphones and Tablets Must Show:</h3>
<ol>
    <li>The device with the screen turned on (if possible)</li>
    <li>The device with the screen turned off</li>
    <li>Back of the device</li>
    <li>Left side</li>
    <li>Right side</li>
    <li>Top side</li>
    <li>Bottom side</li>
</ol>

<h3 class="mt-5 mb-4">Photos of Personal Computers Must Show:</h3>
<ol>
    <li>Screen turned on</li>
    <li>Screen turned off</li>
    <li>The back case of the computer</li>
    <li>Left side (slightly open)</li>
    <li>Right side (slightly open)</li>
    <li>Front side (closed)</li>
    <li>Back side (closed)</li>
</ol>

<h3 class="mt-5 mb-4">Photos of Smartwatches Must Show:</h3>
<ol>
    <li>The front screen/case turned on</li>
    <li>The front screen/case turned off</li>
    <li>Back case</li>
    <li>Left side</li>
    <li>Right side</li>
    <li>The section between the strap and the top screen</li>
    <li>The section between the strap and the bottom screen</li>
</ol>

<h2 id="step3" class="mt-5 mb-4">Step 3. Back Up and/or Transfer Your Data</h2>
<p>This section only concerns devices with personal data storage. Think smartphones, tablets, laptops, gaming consoles, and computers — things you can log in to. You can skip this step if you’re returning other types of electronics.</p>
<p>When you return an item, sellers do a whole series of tests on your device and may even completely restore it. So, regardless of why you’re returning it, be it an exchange, refund, or any type of repair, you should always back up your data and remove it beforehand.</p>
<p>If your device is not working (or at least your screen is not responding), you won’t be able to back up your data, but you can always see if there is a backup on any cloud account you have.</p>
<p>Rest assured, sellers on Dayra Market must comply with the strict privacy laws laid out in our Ethics and Compliance Charter. This means that they will never handle your personal data, but it also means that they can’t back it up for you either.</p>

<h2 id="step4" class="mt-5 mb-4">Step 4. Place Your Order Details Inside the Return Package</h2>
<p>Please print the proof of purchase or receipt, which you can find in your Dayra Market account under "My orders", and place it in the package. If you don't have a printer, you can write the following information on a blank piece of paper and put it in the package:</p>
<ul>
    <li>Your first and last name</li>
    <li>Order number</li>
    <li>Date of the order</li>
</ul>

<h2 id="step5" class="mt-5 mb-4">Step 5. Pack Your Item According to Our Instructions</h2>
<p>Electronics need to be packed with quality materials to weather the bumps and bustle of shipping transport. Packing your item with the right materials and methods will help ensure that your fragile, valuable item arrives at the seller undamaged. Here are some basics of good packing:</p>
<ul>
    <li>Avoid reusing old boxes as they may have lost some of their rigidity and can be refused by the carrier at the time of drop-off.</li>
    <li>The box should be strong and sturdy with double- or triple-walled cardboard.</li>
    <li>Use packing materials such as bubble wrap, airbags, cardboard, or foam peanuts/pellets to wrap and/or securely position your item inside the box so that it can’t move during transit. You don’t want to leave any empty spaces in the box.</li>
    <li>Use pressure-sensitive tape (no cellophane tape, masking tape, string, or rope), and be sure to protect all corners and seams (center and edges).</li>
    <li>Stick the return label on top of the box (you can also place a spare label inside to help identify your shipment in case the original label is detached or damaged).</li>
</ul>

<h2 id="step6" class="mt-5 mb-4">Step 6. Wait for Us to Pick It Up</h2>
<p>We will send a courier to pick it up. So sit back and wait for our call.</p>
</div>
