<div class=" bgP1Block">
  <div class="container">

    <div class="d-flex justify-content-between align-items-center row py-5">
      <div class="image col-12 col-md-6 text-center">
        <img class="img-fluid" src="assets/images/prd-sec.jpeg" alt="">
      </div>
      <div class=" txt col-12 col-md-6  my-4 d-flex justify-content-center align-items-center">
        <div class="text col-11">
          <h1 class="text-center headOfDescription">Our Mission</h1>
          <p class="my-4 p-2 txtOfDescription">At Dayra Market, our mission is to make technology accessible, reliable,
            and sustainable.
            We specialize in offering high-quality refurbished electronics, ensuring that everyone can enjoy the latest
            tech without breaking the bank or harming the planet.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>


<div class="">
  <div class="container">

    <div class="d-flex justify-content-between align-items-center row py-5">

      <div class=" txt col-12 col-md-6  my-4 d-flex justify-content-center align-items-center">
        <div class="text col-11">
          <h1 class="text-center headOfDescription">Our Story</h1>
          <p class="my-4 p-2 txtOfDescription">Dayra Market was founded with a
            vision to transform the way
            people buy and use technology.
            Frustrated with the high costs and
            short lifespan of new electronics,
            our founders set out to create a
            marketplace where quality meets
            affordability. Through rigorous
            quality control and a focus on
            sustainability, we’ve built a
            platform that offers the best
            refurbished electronics, giving
            devices a second life and our
            customers a smarter choice
          </p>
        </div>
      </div>

      <div class="image col-12 col-md-6 text-center">
        <img class="img-fluid" src="assets/images/prd-sec.jpeg" alt="">
      </div>
    </div>
  </div>
</div>


<div class=" bgP1Block">
  <div class="container">

    <div class="d-flex justify-content-between align-items-center row py-5">
      <div class="image col-12 col-md-6 text-center">
        <img class="img-fluid" src="assets/images/prd-sec.jpeg" alt="">
      </div>
      <div class=" txt col-12 col-md-6  my-4 d-flex justify-content-center align-items-center">
        <div class="text col-11">
          <h1 class="text-center headOfDescription">Why Choose Us?</h1>

          <span class="my-4 p-2 txtOfDescription">

            <ol>
              <li class="py-3">Quality Assurance: Every product
                undergoes meticulous testing and
                inspection to ensure it meets our high
                standards.</li>


              <li class="py-3">Affordable Prices: Enjoy top-notch
                electronics at a fraction of the cost of
                new devices.</li>

              <li class="py-3">Sustainability: By choosing
                refurbished, you’re helping to reduce
                electronic waste and preserve natural
                resources.</li>

              <li class="py-3">Customer Satisfaction: We provide a
                one-year limited warranty and
                exceptional customer support to ensure
                your peace of mind.
              </li>
            </ol>

          </span>
        </div>
      </div>
    </div>
  </div>
</div>


<div class="">
  <div class="container">

    <div class="d-flex justify-content-between align-items-center row py-5">

      <div class=" txt col-12 col-md-6  my-4 d-flex justify-content-center align-items-center">
        <div class="text col-11">
          <h1 class="text-center headOfDescription">Our Commitment to
            Sustainability</h1>
          <p class="my-4 p-2 txtOfDescription">Sustainability is at the heart of
            Dayra Market. By extending the
            life cycle of electronics, we
            reduce the environmental impact
            of e-waste and conserve valuable
            resources. Our eco-friendly
            practices include sustainable
            sourcing, minimal packaging, and
            efficient logistics, all aimed at
            minimizing our carbon footprint.
            Join us in our mission to make the
            world a greener place, one device
            at a time.
          </p>
        </div>
      </div>

      <div class="image col-12 col-md-6 text-center">
        <img class="img-fluid" src="assets/images/prd-sec.jpeg" alt="">
      </div>
    </div>
  </div>
</div>