<div class="d-flex justify-content-center">
  <div class="sign-up">
    <div class="title">
      <h4>Create an account</h4>
    </div>
    <form class="d-flex flex-column gap-3 w-100">
      <input type="text" placeholder="Username">
      <input type="email" placeholder="Email">
      <input type="text" placeholder="Phone number">
      <input type="password" placeholder="Password">
      <input type="password" placeholder="Confirm Password">
      <div class="d-flex align-items-center gap-3 ">
        <input type="checkbox" id="policy" >
        <label for="policy">Accept Privacy & Policy</label>
      </div>
      <button class="sign-up-btn">sign up</button>
    </form>
    <div class="or d-flex align-items-center">
      <span></span>
      <span>Or</span>
      <span></span>
    </div>
    <div class="icons d-flex gap-4 my-4 pb-3">
      <i class="fa-brands fa-facebook-f"></i>
      <i class="fa-brands fa-instagram"></i>
      <i class="fa-brands fa-google"></i>
    </div>
    <div>Already have an account ? <span class="sign-in">SIGN IN</span> </div>
  </div>
</div>
