
  <div class="offcanvas offcanvas-end" 
  id="additionalOffCanvas" tabindex="-1"
    aria-labelledby="additionalOffCanvasLabel">
    <div class="offcanvas-body">

        @for (level2 of selectedCategory.children ; track $index) {
      <div class="product-section">
        <div class="header">
          <h2 class="title">{{level2.displayName}}</h2>
          <a href="#" class="view-all">View All
            <svg width="12" height="12" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2"
              stroke-linecap="round" stroke-linejoin="round" class="feather feather-arrowhead">
              <polyline points="12 5 19 12 12 19"></polyline>
            </svg>
          </a>
        </div>
        <div class="product-list">
          @for (level3 of level2.children ; track $index) {
          <a href="#" class="col-4">{{level3.displayName}}</a>
          }
        </div>
      </div>
  
    }
    </div>
  </div>