<div class="container my-5 pt-4 pb-5 ">

  <h2>When should I expect my order to arrive?</h2>

  <ul class="mt-4">
    <li>
      Orders usually take:
      <ul>
        <li>Cairo and Alexandria: from 24 to 48 hours </li>
        <li>Delta and Canal Cities: within 72 hours </li>
        <li>Upper Egypt and Hurghada: from 4 to 5 days</li>
      </ul>
    </li>
    <li>Business days are Sunday-Thursday, excluding bank holidays and weekends.</li>
    <li>For orders placed after 1 PM, the delivery time will be calculated from 8 AM the following morning.</li>
    <li>We'll send you a tracking number within 24 hours of you placing your order.</li>
  </ul>
  <p class="mt-5 fw-semibold">Please note that every seller has a different cutoff time for orders that ship the day they are placed. It's not a guarantee that an order will ship the same day it's placed.</p>
  <p class="fw-semibold">During the holiday season, the influx of orders and severe weather conditions can delay the delivery of your order. For larger items, delivery times may be longer.</p>
</div>
