

/* .rating {
    display: flex;
  }
  
  .rating .fa {
    font-size: 1em;
    cursor: pointer;
    color: rgb(0, 0, 0);
  }
   */


/* 
   .star-rating {
    display: inline-block;
    font-size: 1rem;
  }
  
  .full-star {
    color: #000000; 
  }
  
  .half-star {
    color: #000000;
  }
  
  .empty-star {
    color:rgb(77,87,101);
  }
   */


    /* THe Rate of  */
  .custom-full-star-1 {
    color:rgb(156,156,156) !important; 
  }
  
  .custom-half-star-1 {
    color: rgb(156,156,156) !important;
  }
  
  .custom-empty-star-1 {
    color:rgb(77,87,101) !important;
  }
  
    
  /* User Comment Star */
  .custom-full-star-2 {
    color: #000000; 
  }
  
  .custom-half-star-2 {
    color: #000000;
  }
  
  .custom-empty-star-2 {
    color:rgb(77,87,101);
  }