


<div class="star-rating">
  @for (star of stars; track $index) {

  <span class="star">

    @switch (star) {
    @case (1) {
    <i class="fas fa-star" 
      [ngClass]="{'custom-full-star-1' : isFirstStyle ,'custom-full-star-2': !isFirstStyle  }"></i>
    }
    @case (.5) {
    <i class="fas fa-star-half-alt"
      [ngClass]="{'custom-full-star-1' : isFirstStyle,'custom-full-star-2': !isFirstStyle  }"></i>
    }
    @default () {
    <i class="far fa-star" 
      [ngClass]="{'custom-full-star-1' : isFirstStyle ,'custom-full-star-2': !isFirstStyle }"></i>

    }
    }
  </span>
  }
</div>


<!-- <app-star-rating [rating]="3.5">
  <ng-template full-star>
    <i class="fas fa-star custom-full-star-1"></i>
  </ng-template>
  <ng-template half-star>
    <i class="fas fa-star-half-alt custom-half-star-1"></i>
  </ng-template>
  <ng-template empty-star>
    <i class="far fa-star custom-empty-star-1"></i>
  </ng-template>
</app-star-rating>
 -->