
<!-- 
<div class="rating">
  @for (star of stars; track $index) {
  <span (click)="rate($index + 1)">
    <i class="fa" [ngClass]="star ? 'fa fa-star' : 'fa fa-star-o'"></i>
  </span>
}
</div> -->

<div class="star-rating">
  <span *ngFor="let star of stars; let i = index" class="star">
    <ng-container [ngSwitch]="star">
      <i *ngSwitchCase="1" class="fas fa-star" [ngClass]="fullStarClass"></i>  
      <i *ngSwitchCase="0.5" class="fas fa-star-half-alt" [ngClass]="halfStarClass"></i> 
      <i *ngSwitchDefault class="far fa-star" [ngClass]="emptyStarClass"></i>   
    </ng-container>
  </span>
</div>


<!-- <app-star-rating [rating]="3.5">
  <ng-template full-star>
    <i class="fas fa-star custom-full-star-1"></i>
  </ng-template>
  <ng-template half-star>
    <i class="fas fa-star-half-alt custom-half-star-1"></i>
  </ng-template>
  <ng-template empty-star>
    <i class="far fa-star custom-empty-star-1"></i>
  </ng-template>
</app-star-rating>
 -->

