

/* .rating {
    display: flex;
  }
  
  .rating .fa {
    font-size: 1em;
    cursor: pointer;
    color: rgb(0, 0, 0);
  }
   */


/* 
   .star-rating {
    display: inline-block;
    font-size: 1rem;
  }
  
  .full-star {
    color: #000000; 
  }
  
  .half-star {
    color: #000000;
  }
  
  .empty-star {
    color:rgb(77,87,101);
  }
   */