<div id="carouselExample" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active" data-bs-interval="6000">
      <div class="txt text-center">
        <h1>Experience like-new !</h1>
        <h2>affordable technology</h2>
      </div>
      <div class="images d-flex">
        <img src="assets/images/Picture1.png" alt="">
        <img src="assets/images/Picture2.png" alt="">
      </div>
    </div>
    <div class="carousel-item " data-bs-interval="5000">
      <div class="txt">
        <h1>The smart way to shop</h1>
      </div>
      <div class="image">
        <img src="assets/images/964b818843a9b1348f5715885cba6cd8.gif"  alt="...">
      </div>
    </div>
    <div class="carousel-item " data-bs-interval="5000">
      <div class="txt">
        <h1>Give renewed products a second <br> chance and save</h1>
      </div>
      <div class="image">
        <img src="assets/images/Picture3.png"  alt="...">
        <img src="assets/images/Picture4.png"  alt="...">
        <img src="assets/images/Picture5.png"  alt="...">
      </div>
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>
