<div class="container mb-5">
  <div>
    <input #searchInputRef type="text" placeholder="Type keywords like &quot;return&quot;" (keyup)="searchHandler($event)">
  </div>
  <div class="row">
    <div class="col-3">
      <ul>
        @for (item of FAQGuide; track $index) {
        @if ($index==0) {
        <li (click)="changeContent($event,item); searchInputRef.value=''" class="main-title active"><span>{{item.Title}}</span> <span><i class="fa-solid fa-angle-right"></i></span>
        </li>
        }
        @else {
        <li (click)="changeContent($event,item); searchInputRef.value=''" class="main-title"><span>{{item.Title}}</span> <span><i class="fa-solid fa-angle-right"></i></span></li>
        }
        }
      </ul>
    </div>
    <div class="col-9 ">
      <!-- <div class="card flex justify-content-center"> -->

      <div #accordionRef class="accordion">
        @if (isSearching) {
          @for (item of searchTerm; track $index) {

            <div class="accordion-item">
              <div (click)="item.expanded=!item.expanded" class="d-flex justify-content-between accordion-header pt-3 px-3">
                <div>
                  <p class="fa-xs text-decoration-underline">{{item.Title}}</p>
                  <p>
                    <span>{{item.Q}}</span>
                  </p>
                </div>
                <span><i [ngClass]="item.expanded?'fa-angle-up':'fa-angle-down'" class="icon fa-solid fa-angle-down"></i></span>
              </div>
              <div [ngClass]="{'show': item.expanded}" class="accordion-collapse collapse ">
                <div class="accordion-body">
                  <p>{{item.A}}</p>
                </div>
              </div>
            </div>
            }
        }
        @else {
        @for (item of selectedItems.Content; track $index) {

        <div class="accordion-item">
          <div (click)="item.expanded=!item.expanded" class="d-flex justify-content-between accordion-header pt-3 px-3">
            <div>
              <p class="fa-xs text-decoration-underline">{{selectedItems.Title}}</p>
              <p>
                <span>{{item.Q}}</span>
              </p>
            </div>
            <span><i [ngClass]="item.expanded?'fa-angle-up':'fa-angle-down'" class="icon fa-solid fa-angle-down"></i></span>
          </div>
          <div [ngClass]="{'show': item.expanded}" class="accordion-collapse collapse ">
            <div class="accordion-body">
              <p>{{item.A}}</p>
            </div>
          </div>
        </div>
        }
      }
      </div>
    </div>
    <!-- </div> -->
  </div>
</div>
