<div class="card ">
  <div class="row g-0">

    <div class="card-body ">

      <form class="form-inline py-3 my-lg-0 d-flex  PromoCodeDiv">
        <input class="form-control inputForPromo mr-sm-2 py-3" type="text" placeholder="Apply Promo Code">
        <button class="btn btnOfPromoCode my-2 my-sm-0 py-3" type="submit">Apply</button>
      </form>

      <div class="justify-content-between d-flex mt-3">
        <p class="txtOfCount">Subtotal</p>
        <p class="txtOfCount">{{totalPrice}} L.E</p>
      </div>

      <div class="justify-content-between d-flex pb-3">
        <p class="txtOfCount">Discount</p>
        <p class="txtOfCount">0 L.E</p>
      </div>


      <div class="justify-content-between d-flex totalPrice py-3">
        <p class="txtOfCountFinal mb-0">Total </p>
        <p class="txtOfCountFinal mb-0">{{totalPrice}} L.E</p>
      </div>

      <div class="d-flex justify-content-center mb-3 ">
        <a class="btn btnAddToCart py-3" role="button"  (click)="next()">
          Checkout </a>
      </div>

    </div>


  </div>
</div>