<section class="py-5 mt-5">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-8">
        <div class="text-center">
          <h2 class="display-5 fw-bold">About Us</h2>
          <p class="lead fs-4 text-secondary mb-3">Welcome to Dayra Market – where tech gets a second life, and quality
            is king. We’re not just another
            marketplace; we’re a haven for verified, top-notch refurbished electronics.</p>

        </div>
      </div>
    </div>
  </div>
</section>



<section class="py-5 py-md-5 mb-5 ">
  <div class="container">
    <div class=" gy-3 gy-md-4 gy-lg-0 align-items-lg-center">

      <div class="col-12 col-lg-12 col-xl-12">
        <div class="row gy-4 gy-md-0 gx-xxl-5X justify-content-center text-center">
          <div class="col-12 col-md-6">
            <div class="d-flex">
              <div>
                <h2 class="h4 mb-3">Credible</h2>
                <p class="text-secondary mb-0"> <span style="font-weight: 800;">We verify. </span> Every device
                  undergoes rigorous testing to ensure it meets our
                  high
                  standards. You can trust that you’re getting the best.</p>
              </div>
            </div>
          </div>


        </div>
      </div>

      <div class="col-12 col-lg-12 col-xl-12">
        <img class="img-fluid rounded" loading="lazy" src="./assets/images/about us.png" alt="About 1">
      </div>

      <div class="col-12 col-lg-12 col-xl-12">
        <div class="row justify-content-xl-center">
          <div class="col-12 col-xl-11">


            <div class="row gy-4 gy-md-0 gx-xxl-5X justify-content-center text-center">

              <div class="col-12 col-md-6">
                <div class="d-flex">

                  <div>
                    <h2 class="h4 mb-3">Affordable</h2>
                    <p class="text-secondary mb-0"><span style="font-weight: 800;"> We care.</span> Our mission is to
                      make high-quality tech accessible
                      without breaking the bank.</p>
                  </div>
                </div>
              </div>


              <div class="col-12 col-md-6">
                <div class="d-flex">

                  <div>
                    <h2 class="h4 mb-3">Sustainable</h2>
                    <p class="text-secondary mb-0"> <span style="font-weight: 800;">We Deliver.</span> By choosing Dayra
                      Market, you’re making a smart,
                      eco-friendly choice that helps reduce electronic waste.</p>
                  </div>
                </div>
              </div>


            </div>

          </div>
        </div>
      </div>

    </div>
  </div>
</section>


<app-block2 class="mb-5"></app-block2>


<section class="py-5 mt-5">
  <div class="container ">
    <div class="text-center mb-5 pb-5">
      <h3>Verified Refurbished  by Dayra Market </h3>
      <h5 class="mt-4">Where do you want to start?</h5>
    </div>

    <app-product-slider></app-product-slider>

  </div>
</section>


<section class=" mb-5">
  <div >
    <div class="container">

      <div class="d-flex justify-content-between align-items-center row py-5">

        <div class="image col-12 col-md-5 text-center">
          <img class="img-fluid" src="assets/images/phone.png" alt="">
        </div>
        <div class=" txt col-12 col-md-6  my-4 d-flex justify-content-center align-items-center">
          <div class=" col-11">
            <h1 class="">Contact Us</h1>
            <p class="my-4 p-2 txtOfDescription">Embrace sustainability and community. Partner with or shop from Dayra
              Market to support positive change.
            </p>
            <button class="btn btn-outline-dark" style="border-radius: 20px;" routerLink="/contactUs">
              Contact Us
            </button>
          </div>
        </div>

      </div>
    </div>
  </div>
</section>
