<div class="d-flex cardOfFilter cardOfFilterBlock justify-content-center col-11 mt-3 "  (click)="variantClick.emit(value)"
   [class.disables]="!value.isAvailable" [ngStyle]="{
    'background-color': value.isClicked ? (value.displayName) : '',
    'cursor': value.isClicked ? 'default' : 'pointer',
  }">


  <span class="dotOfColor me-2 " [style]="'background-color:'+ ( value.displayName) +';'"
  [class.ActiveDot]="this.value.isClicked"></span>



  <div class="txtOfFilterItem3" [class.ActiveColor]="value.isClicked" [ngStyle]="{
    'color': value.isClicked ? (value.displayName=='White'?'black':'') : ''}">
    {{value.displayName}}
  </div>



</div>
