/* items of filtration */
.cardOfFilter {
  border-radius: 6px;
  padding: 18px;
  background-color: rgba(240, 240, 240, 1);
  position: relative;
  box-shadow: 0px 4px 11px 0px #00000014;
}

.cardOfFilter:hover {
  cursor: pointer;
}

/* === */
/* Disabled to click */
.disables {
  pointer-events: none;
  opacity: 0.4;
}

/* === */
/* color text */

.txtOfFilterItem3 {
  color: rgba(0, 0, 0, 0.8);
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  text-align: center;
}

/* Span of color */
.dotOfColor {
  border: 0.3px rgb(227, 223, 223) solid;
  padding: 7px;
  border-radius: 50%;
  width: 14px;
  height: 14px;
}

/*  Activation */
.ActiveColor {
color: white ;
font-weight: 500;
}


.ActiveDot{
  display: none;
}




/* ======== */
/* Responsive */

@media screen and (max-width: 1399px) {


  .txtOfFilterItem3 {
    font-size: 13px;
  }
  .txtOfPriceItem {
    font-size: 10px;
  }
}

@media screen and (max-width: 600px) {

  .txtOfFilterItem3 {
    font-size: 11px;
  }
  .txtOfPriceItem {
    font-size: 9px;
  }

}

@media screen and (max-width: 475px) {

  .cardOfFilter {
    padding: 8px;
  }
}

@media screen and (max-width: 375px) {

  .txtOfFilterItem3 {
    font-size: 9px;
  }
}
.cardOfFilterBlock:has(.loader) {
  display: flex;
  justify-content: center;
}
.loader {
  width: 18px;
  height: 18px;
  border-radius: 50%;
  display: inline-block;
  position: relative;
  border: 3px solid;
  border-color: #FFF #FFF transparent transparent;
  box-sizing: border-box;
  animation: rotation 2s linear infinite;
}
.loader::after,
.loader::before {
  content: '';
  box-sizing: border-box;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  border: 3px solid;
  border-color: transparent transparent #000 #000;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  box-sizing: border-box;
  animation: rotationBack 1s linear infinite;
  transform-origin: center center;
}
.loader::before {
  width: 14px;
  height: 14px;
  border-color: #FFF #FFF transparent transparent;
  animation: rotation 3s linear infinite;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes rotationBack {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(-360deg);
  }
}
.prd-overlay{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 200%;
  z-index: 1;
}
