<div class="d-flex justify-content-center">
  <div class="sign-in">
    <div class="title">
      <h4>Welcome Back</h4>
    </div>
    <form class="d-flex flex-column gap-3 w-100" [formGroup]="signInForm" (submit)="onSubmit()">
      <div>
        <input formControlName="email" type="email" placeholder="Email" class="w-100">
        @if(signInForm.controls.email.hasError('required') && signInForm.controls.email.dirty &&
        signInForm.controls.email.touched ){
        <div class="error mt-1">Email is Required</div>
        }
        @else if (signInForm.controls.email.invalid && signInForm.controls.email.dirty && signInForm.controls.email.touched) {
          <div class="error mt-1">Email is Invalid</div>
          }
      </div>
      <div>
        <input class="w-100" formControlName="password" type="password" placeholder="Password">
        @if(signInForm.controls.password.hasError('required') && signInForm.controls.password.dirty &&
        !signInForm.controls.password.untouched ){
        <div class="error mt-1">Password is Required</div>
        }
      </div>
      @if(serverError){
      <div class="error">Invalid email or password</div>
      }
    <div><a routerLink="/forget-password" class="sign-up">Forget your Password</a> </div>
      <button class="sign-in-btn" type="submit">sign in</button>
    </form>
    <div class="or d-flex align-items-center">
      <span></span>
      <span>Or</span>
      <span></span>
    </div>
    <div class="icons d-flex gap-4 my-4 pb-3">
      <i class="fa-brands fa-facebook-f"></i>
      <i class="fa-brands fa-instagram"></i>
      <i class="fa-brands fa-google"></i>
    </div>
    <div>Don’t have an account ? <a routerLink="/signup" class="sign-up">SIGN UP</a> </div>
  </div>
</div>
