<div class="d-flex justify-content-center">
  <div class="sign-in">
    <div class="title">
      <h4>Welcome Back</h4>
    </div>
    <form class="d-flex flex-column gap-3 w-100">
      <input type="text" placeholder="Email / Phone number">
      <input type="password" placeholder="password">
      <button class="sign-in-btn">sign in</button>
    </form>
    <div class="or d-flex align-items-center">
      <span></span>
      <span>Or</span>
      <span></span>
    </div>
    <div class="icons d-flex gap-4 my-4 pb-3">
      <i class="fa-brands fa-facebook-f"></i>
      <i class="fa-brands fa-instagram"></i>
      <i class="fa-brands fa-google"></i>
    </div>
    <div>Don’t have an account ? <span class="sign-up">SIGN UP</span> </div>
  </div>
</div>
