
.product-header p {
    font-family: "Montserrat", sans-serif;
    font-size: 14px;
    font-weight: 500;
    line-height: 17.07px;
    color: rgba(0, 0, 0, 0.4);
    margin-bottom: 0;
}

  .product-header a {
    text-align: Center;
    font-size: 14px;
    font-weight: 500;
    line-height: 16px;
    font-family: "Montserrat", sans-serif;
    background: linear-gradient(
      90deg,
      rgba(9, 118, 76, 0.64) 3.05%,
      rgba(89, 105, 99, 0.8) 103.66%
    );

    background-clip: text;
    -webkit-text-fill-color: transparent;
    cursor: pointer;
  }


  @keyframes dissolve {
    0% {
      opacity: 1;
    }
    100% {
      opacity: 0;
    }
  }

  .dissolveclass {
    animation-name: dissolve;
    animation-timing-function: ease-in-out;
    animation-duration: 100ms;
  }


  /* === */
  /* Learn more */

.offcanvas {
  width: 431px;
  min-width: 18%;
  border: 1px, 0px, 0px, 0px;
  border-color: rgba(212, 212, 212, 1);
  top: 0;
  overflow-y: scroll;

}
.off-canvas.open {
  transform: translateX(0);
}
.offcanvas .btn-close {
  visibility: hidden;
}

/* === */
/* Side Section Technical */
.HeaderSideOffCanvas {
  padding-bottom: 30px;
  color: rgba(9, 118, 76, 0.8);
  font-weight: 500;
  font-size: 18px;
  letter-spacing: 8%;
  line-height: 21.94px;
  border-bottom: rgba(193, 193, 193, 1) 1px solid;
  padding-top: 0;

  position: relative;
  text-align: center;

}

.HeaderSideOffCanvas span {
  text-align: center;
}

.HeaderSideOffCanvas i ,.svgOff{
  position: absolute;
  left: 0;

  cursor: pointer;
}

.offcanvas-body {
  margin: 30px 0;
}

/*  Hide Scroll  */
.ffcanvas::-webkit-scrollbar ,.offcanvas-end::-webkit-scrollbar,
.offcanvas-body::-webkit-scrollbar{
 display: none !important;
}


.txtOfMainOff{
  color:rgba(0, 0, 0, 1) !important;
  font-weight: 500;
  font-size: 16px;
  letter-spacing: 2px;
  line-height:21.74px;
}

.txtOfSubOff{
  color:rgba(98, 98, 98, 1);
  font-weight: 400;
  font-size: 15px;
  letter-spacing: 2px;
  line-height:20.38px;
  text-align: center;
}

/* .bestPickOff{

  border-bottom: rgba(193, 193, 193, 1) 1px solid;
} */


.btnOfOff{
  border-radius: 4px;
  color: rgba(153, 153, 153, 1);
  border: rgba(153, 153, 153, 1) 1px solid;
  background-color: white;
  font-size: 14px;
  letter-spacing: 1px;
  line-height: 17.07px;
  font-weight: 400;
  padding: 9px 0;
}

.btnOfOff:hover , .btnOfOff:active, .btnOfOff.active {
  background-color: rgba(153, 153, 153, 1);
  color: white;
}

.txtOfPropMainOff{
font-size: 15px;
font-weight: 500;
line-height: 26.31px;
letter-spacing: 0.08em;
color:rgba(98, 98, 98, 1) !important;
}
.txtOfPropSubOff{
  font-size: 15px;
  font-weight: 400;
  line-height: 26.31px;
  letter-spacing: 0.08em;
  color: rgba(98, 98, 98, 1);
}

/* ==== */
/* SliderCondition */
.carousel-item img{
  height:200px;
}

.carousel-indicators {
bottom: -50px ;
list-style: none;

}

.carousel-indicators li{
  background-color: rgba(219, 219, 219, 1);
}

.carousel-indicators .active {
  background-color: rgba(170, 170, 170, 1);
}

/* next & previous */
/* .carousel-control-prev-icon,
.carousel-control-next-icon{
  height: 1rem;
}


.product-header a{
  bottom: -250px;
} */



  /* ======== */
/* Responsive */

.tech-condition{
  background-color: #D4E0FC;
  padding:0 20px 10px;
  border-radius: 6px;
}

.product-header .tech-condition a.tech-link {
  text-decoration: underline !important;
  color: #333;
  background: initial;
  background-clip: initial;
    -webkit-text-fill-color: initial;
}
@media screen and (max-width: 342px) {

  .product-header a,
  .product-header p {
    font-size: 10px;
    margin-bottom: 0;
  }

}
