@if(!isShowingVerify || isResetPassword) {
<div class="d-flex justify-content-center">
  <div class="forget-password">

    @if (isResetPassword) {
    <div class="title">
      <h4>{{'user.resetPassword' | translate}}</h4>
    </div>
    <form class="d-flex flex-column gap-3 w-100" [formGroup]="resetPasswordForm" (submit)="onResetPasswordSubmit()">
      <div>
        <input class="w-100" formControlName="password" type="password" [placeholder]="'profile.password' | translate">
        @if(resetPasswordForm.controls.password.hasError('required') && resetPasswordForm.controls.password.dirty &&
        !resetPasswordForm.controls.password.untouched ){
        <div class="error mt-1">{{'formValidation.passwordRequired' | translate}}</div>
        }
        @else if (resetPasswordForm.controls.password.hasError('minlength') && resetPasswordForm.controls.password.dirty
        && !resetPasswordForm.controls.password.untouched) {
        <div class="error mt-1">{{'formValidation.eightPasswordLength' | translate}}</div>
        }
        @else if (!resetPasswordForm.controls.password.value?.match('^(?=.*[a-z])') &&
        resetPasswordForm.controls.password.dirty && !resetPasswordForm.controls.password.untouched)
        {
        <div class="error mt-1">{{'formValidation.oneLowercaseLetter' | translate}}</div>
        }
        @else if (!resetPasswordForm.controls.password.value?.match('^(?=.*[A-Z])') &&
        resetPasswordForm.controls.password.dirty && !resetPasswordForm.controls.password.untouched)
        {
        <div class="error mt-1">{{'formValidation.oneUppercaseLetter' | translate}}</div>
        }
        @else if (!resetPasswordForm.controls.password.value?.match('^(?=.*[0-9])') &&
        resetPasswordForm.controls.password.dirty && !resetPasswordForm.controls.password.untouched)
        {
        <div class="error mt-1">{{'formValidation.oneNumberLetter' | translate}}</div>
        }
        @else if (!resetPasswordForm.controls.password.value?.match('^(?=.*[!@#$%^&*.?])') &&
        resetPasswordForm.controls.password.dirty &&
        !resetPasswordForm.controls.password.untouched)
        {
        <div class="error mt-1">{{'formValidation.oneSymbolLetter' | translate}}</div>
        }
      </div>
      <div>
        <input class="w-100" formControlName="confirmPassword" type="password" [placeholder]="'profile.confirmPassword' | translate">
        @if(resetPasswordForm.controls.confirmPassword.hasError('required') &&
        resetPasswordForm.controls.confirmPassword.dirty && resetPasswordForm.controls.confirmPassword.touched ){
        <div class="error mt-1">{{'formValidation.confirmPasswordRequired' | translate}}</div>
        }
        @if(resetPasswordForm.controls.confirmPassword.hasError('passwordsDoNotMatch') &&
        resetPasswordForm.controls.confirmPassword.dirty && resetPasswordForm.controls.confirmPassword.touched ){
        <div class="error mt-1">{{'formValidation.passwordNotMatch' | translate}}</div>
        }
      </div>
      @if(serverError){
        <div class="error">
          <span>{{serverError}}</span>
        </div>
        }
      <div class="text-end">
        <button type="submit" class="forget-password-btn">{{'user.confirm' | translate}}</button>
      </div>
    </form>
    }
    @else {
    <div class="title">
      <h4>{{'user.forgotPassword' | translate}}</h4>
    </div>
    <form class="d-flex flex-column gap-3 w-100" [formGroup]="forgetPasswordForm" (submit)="onForgetPasswordSubmit()">
      <div>
        <input class="w-100" formControlName="phoneNumber" type="text" [placeholder]="'profile.phoneNumber' | translate" appNumberOnly>
        @if(forgetPasswordForm.controls.phoneNumber.hasError('required') &&
        forgetPasswordForm.controls.phoneNumber.dirty &&
        forgetPasswordForm.controls.phoneNumber.touched ){
        <div class="error mt-1">{{'formValidation.phoneNumberRequired' | translate}}</div>
        }
        @else if (forgetPasswordForm.controls.phoneNumber.invalid && forgetPasswordForm.controls.phoneNumber.dirty &&
        forgetPasswordForm.controls.phoneNumber.touched) {
        <div class="error mt-1">{{'formValidation.phoneNumberInvalid' | translate}}</div>
        }

        @if(serverError){
        <div class="error">
          <span>{{serverError}}</span>
        </div>
        }
        <div class="text-end">
          <button type="submit" class="forget-password-btn">{{'user.confirm' | translate}}</button>
        </div>
      </div>
    </form>
    }
  </div>
</div>

}
@else {
<!-- <app-verify [phoneNumber]="this.forgetPasswordForm.get('phoneNumber')?.value ??''" [isFromForgetPassword]="true"
  (resetPasswordForm)="isResetPassword=true"></app-verify> -->
}
