/* === */
/* breadcrumb */

.breadcrumb i {
  color: #00000066;
  font-size: 15px;
}
.breadcrumb li a {
  text-decoration: none !important;
  color: #00000066 !important;
}
.breadcrumb li:last-of-type {
  color: #808080 !important;
}

/* === */
/* Success */

.thankAfterConfirm {
  color: rgba(9, 118, 76, 1);
  font-family: "Overused Grotesk";
  font-size: 20px;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: 0.02em;
  text-align: left;
  padding-bottom: 30px;
  border-bottom: rgba(227, 227, 227, 1) 1px solid;
}

/* === */
/* Details Of Cart */

.detailsCard {
  border: none;
  background-color: rgba(247, 247, 247, 1);
}

.imgOfDetails {
  border-radius: 6px;
  padding: 15px 20px;
  display: flex;
  justify-content: center;
}
.img-fluid {
  width: 116px;
  height: 116px;
}

.txtNameOfProd {
  color: rgba(93, 93, 93, 1);
  font-size: 15px;
  font-weight: 500;
  line-height: 18.29px;
  letter-spacing: 0.08em;
  text-align: left;
  padding: 10px 0;
}

.txtInfoOfProd {
  color: rgba(134, 134, 134, 1);
  font-size: 12px;
  font-weight: 400;
  line-height: 14.63px;
  letter-spacing: 0.08em;
  text-align: left;
}

/* Left part  */

.leftPartOfDetails {
  padding: 10px 20px;

  text-align: right;
}
.priceOfProd {
  font-family: "Overused Grotesk";
  font-size: 15px;
  font-weight: 600;
  line-height: 22.95px;
  letter-spacing: 0.08em;
  text-align: left;
  color: rgba(93, 93, 93, 1);
  position: relative;
}

.svgOfDelete {
  position: absolute;
  bottom: 35px;
  right: 36px;
  cursor: pointer;
}

/* === */
/* Protection */
.detailsCardProtection {
  border: 2px dashed rgba(202, 202, 202, 0.6);
}

.txtProtectionHeader {
  font-size: 14px;
  font-weight: 400;
  line-height: 17.07px;
  letter-spacing: 0.08em;
  text-align: left;
  color: rgba(85, 85, 85, 0.6);
}
.txtProtectionRecommend {
  font-size: 12px;
  font-weight: 400;
  line-height: 14.63px;
  letter-spacing: 0.08em;
  text-align: left;
  color: rgba(0, 203, 124, 1);
}

.radioProtection {
  color: rgba(0, 99, 61, 1);
  font-size: 15px;
  font-weight: 500;
  line-height: 18.29px;
  letter-spacing: 0.08em;
  text-align: left;
}

.form-check-input:checked {
  background-color: rgba(0, 99, 61, 1);
  border-color: rgba(0, 99, 61, 1);

  box-shadow: none;
}

.txtOfUl {
  font-size: 12px;
  font-weight: 400;
  line-height: 14.63px;
  letter-spacing: 0.08em;
  text-align: left;
  color: rgba(13, 48, 21, 0.6);
}

/* ===== */
