@if(cart.length>0)
{
<div class="ibox container mt-4 mb-5">
  <div class="container ">

    <!-- breadcrumb -->
    <div>
      <nav class="breadcrumb mt-4">
        <ol class="list-unstyled d-flex">
          <li>
            <a [routerLink]="['']">{{'products.home' | translate}}</a>
          <i [ngClass]="isArabic? 'fa-angle-left': 'fa-angle-right'" class="fa-solid fa-angle-right mx-3"></i>
          </li>
          <li>
            <!-- {{_ProductDetailsService.product.categoryDisplayName}} -->
            <a [routerLink]="['']">{{'products.products' | translate}}</a>
          <i [ngClass]="isArabic? 'fa-angle-left': 'fa-angle-right'" class="fa-solid fa-angle-right mx-3"></i>
          </li>
          <li>{{'cart.title' | translate}} </li>
        </ol>
      </nav>
    </div>

    <!-- Success Statement -->
    @if (CurrentCase == CartCasesEnum.Success) {
    <div class="mt-5 mb-3">
      <p class="thankAfterConfirm">{{'cart.thankYou' | translate}} </p>
    </div>
    }


    <!-- Main content -->
    <div class="row mt-5">
      <!-- Right Section -->
      <div class="col-lg-8 mb-5">
        <!-- Details  l-->
        @for (item of cart; track $index) {
        <div class="card  detailsCard mb-4 me-lg-5 me-0 ">
          <div class="row g-0">

            <div class="col-md-3 imgOfDetails">
              <img class="col-10" [routerLink]="'/product/'+item.name" [state]="{id:item.productId,stockId:item.id}" [src]="item.image" class="img-fluid rounded-start" alt="...">
            </div>

            <div class="col-md-9">
              <div class="card-body justify-content-between d-flex">


                <div>
                  <p class="txtNameOfProd">{{item.name}}</p>
                  <p class="txtInfoOfProd">{{'cart.condition' | translate}} {{item.condition}}</p>
                  <p class="txtInfoOfProd">{{'cart.color' | translate}} {{item.color}}</p>

                </div>

                <div class="leftPartOfDetails">
                  <p class="priceOfProd">{{item.price | number: '3.0-0'}} {{'products.le' | translate}}</p>


                  @if((CurrentCase != CartCasesEnum.Confirm)){
                  <div (click)="removeItem(item.id)" [ngClass]="{'d-none':CurrentCase == CartCasesEnum.Success}">
                    <svg class="svgOfDelete" width="17" height="17" viewBox="0 0 17 17" fill="none"
                      xmlns="http://www.w3.org/2000/svg">
                      <path
                        d="M8.5 0C13.2005 0 17 3.7995 17 8.5C17 13.2005 13.2005 17 8.5 17C3.7995 17 0 13.2005 0 8.5C0 3.7995 3.7995 0 8.5 0ZM12.75 4.25H10.625L9.775 3.4H7.225L6.375 4.25H4.25V5.95H12.75V4.25ZM5.95 13.6H11.05C11.2754 13.6 11.4916 13.5104 11.651 13.351C11.8104 13.1916 11.9 12.9754 11.9 12.75V6.8H5.1V12.75C5.1 12.9754 5.18955 13.1916 5.34896 13.351C5.50837 13.5104 5.72457 13.6 5.95 13.6Z"
                        fill="#890F0F" fill-opacity="0.4" />
                    </svg>
                  </div>
                  }
                </div>


              </div>
            </div>


          </div>
        </div>
        }


        <!-- Protection Plan Coverage -->
        <!-- <div class="card mb-3 mt-4 detailsCardProtection me-5">
          <div class="row g-0">

            <div class="card-body m-3">

              <div class="d-flex justify-content-between ">
                <p class="txtProtectionHeader">Make your phone (almost) immortal with our coverage.</p>
                <p class="txtProtectionRecommend">Recommended </p>
              </div>


              <div class="form-check mt-2">
                <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1">
                <label class="form-check-label radioProtection" for="flexRadioDefault1">
                  Protection Plan Coverage ( + 2000 L.E )
                </label>

                <ul style="list-style-type:disc;">
                  <li class="txtOfUl pt-3">24 months of coverage for drops, spills, and cracked screens from normal
                    use</li>
                  <li class="txtOfUl pt-3">24 months of coverage for drops, spills, and cracked screens from normal
                    use</li>
                </ul>
              </div>


              <div class="form-check mt-2">
                <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault2" checked>
                <label class="form-check-label radioProtection" for="flexRadioDefault2">
                  Default checked radio
                </label>
                <ul style="list-style-type:disc;">
                  <li class="txtOfUl pt-3">24 months of coverage for drops, spills, and cracked screens from normal
                    use</li>
                  <li class="txtOfUl pt-3">24 months of coverage for drops, spills, and cracked screens from normal
                    use</li>
                </ul>
              </div>


            </div>


          </div>
        </div> -->


      </div>
      <!-- Left Section -->
      <div class="col-lg-4 mb-5">
        @switch (CurrentCase) {
        @case (CartCasesEnum.Default) {
        <app-DefaultCheckOut (nextStep)="goToNextCase()"></app-DefaultCheckOut>
        }
        @case (CartCasesEnum.Address) {
        <app-address (nextStep)="goToNextCase()"></app-address>
        }
        @case (CartCasesEnum.Review) {
        <app-Review-Order (nextStep)="goToNextCase()"></app-Review-Order>
        }
        @case (CartCasesEnum.Confirm) {
        <app-ConfirmPayment (nextStep)="goToNextCase()"></app-ConfirmPayment>
        }
        @default {
        <h1>Something Wrong Please Refresh The Page ! </h1>
        }
        }
      </div>

    </div>




  </div>
</div>
}@else {
  <app-empty-cart></app-empty-cart>
}
