<div class="container">
  <header>
    <div class="overlay"></div>
    <h4 class="fw-semibold">{{'profile.title' | translate}}</h4>
  </header>
  <nav class="breadcrumb">
    <ol class="list-unstyled d-flex">
      <li>
        <a [routerLink]="['']">{{'products.home' | translate}}</a>
          <i [ngClass]="isArabic? 'fa-angle-left': 'fa-angle-right'" class="fa-solid fa-angle-right mx-3"></i>
      </li>
      <li>{{'profile.title' | translate}}</li>
    </ol>
  </nav>
  <div class="row mb-5 pb-5">
    <div class=" col-sm-4 col-12 col-lg-3 profile-side">
      <div class="d-flex mb-4 gap-3 align-items-center">
        <h5 class="m-0">{{'myProfile.title' | translate}}</h5>
        <i #iconRef class="fa-solid fa-angle-down d-sm-none" (click)="iconRef.classList.toggle('fa-angle-up')"></i>
      </div>
      <nav class="list-unstyled">
        <li><a [routerLink]="'/profile'" routerLinkActive="link-active" [routerLinkActiveOptions]="{exact:true}" (click)="iconRef.classList.remove('fa-angle-up')">{{'profile.myData' | translate}}</a> </li>
        <li><a [routerLink]="'order-history'" routerLinkActive="link-active" (click)="iconRef.classList.remove('fa-angle-up')">{{'profile.ordersHistory' | translate}}</a> </li>
        <li><a [routerLink]="'my-addresses'" routerLinkActive="link-active" (click)="iconRef.classList.remove('fa-angle-up')">{{'profile.myAddresses' | translate}}</a> </li>
        <li><a (click)="onClick()">{{'profile.logout' | translate}}</a> </li>
      </nav>
    </div>
    <div class="col-sm-8 col-12 col-lg-9 content">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
