input[type="checkbox"] {
  width: 20px;
  accent-color: #45a37f ;
}
input:checked + label{
  color: #45a37f ;
}
.checkbox{
  padding-bottom: 14px;
  display: flex;
  gap: 5px;
}
.mobile-checkbox{
  cursor: pointer;
  color: #121212;
  padding:15px ;
  display: flex;
  margin-bottom: 20px;
  border-radius: 6px;
  gap: 12px;
  border: 1px solid rgb(18,18,18,.43);
}
.mobile-checkbox input[type="checkbox"] {
  width: 20px;
  cursor: pointer;
}
label{
  cursor: pointer;
}
.mobile-checkbox:has(input:checked){
  border: 1px solid #45a37f;
}
