<section class="container">
  <header class="my-4 py-2">
    <div class="overlay"></div>
    <h4 class="fw-semibold">PRODUCTS</h4>
  </header>
  <div>
    <nav class="breadcrumb">
      <ol class="list-unstyled d-flex">
        <li>
          <a [routerLink]="['']">Home</a>
          <i class="fa-solid fa-angle-right mx-3"></i>
        </li>
        <li>Products</li>
      </ol>
    </nav>
  </div>
  <section class="row">
    <app-filter-sec class="col-xl-3 col-lg-4 d-none d-lg-block"></app-filter-sec>
    <div
      class="prds-container col-xl-9 col-lg-8 col-12 d-flex ps-4 gap-xl-4 gap-md-3 gap-sm-4 flex-wrap  justify-content-center">
      @if(productService.totalCount>0)
      {
      @if(productService.isLoaded ){
      @if(productService.pageNumber==1){
      <app-offer-card [product]="productService.offerProduct"
        class="flex-md-grow-0 flex-grow-1 d-flex mb-md-0 mb-4"></app-offer-card>
      }
      @for (prd of (productService.products | async ) ; track $index) {
      <app-card [product]="prd" [isProductPage]="true"
        class="flex-md-grow-0 flex-grow-1 d-flex mb-2 mb-md-0"></app-card>
      }
      }
      @else {
      @if(productService.pageNumber==1){
      <app-offer-card-placeholder class="d-flex flex-md-grow-0 flex-grow-1 mb-4"></app-offer-card-placeholder>
      }
      @for (prd of productService.tempArr; track $index) {
      <app-card-placeholder [isProductPage]="true"
        class="flex-md-grow-0 flex-grow-1 d-flex mb-4"></app-card-placeholder>
      }
      }
      }
    </div>
  </section>
  <div class="pagination d-flex justify-content-md-end justify-content-center mt-5">
    <div #paginationRef class="d-flex gap-2 align-items-center">
      <p-paginator
    (onPageChange)="goToPage($event)"
    [rows]="productService.numOfProducts"
    [totalRecords]="productService.totalCount" />
    </div>
  </div>
</section>
<app-mobile-filter class="d-lg-none d-block"></app-mobile-filter>
