<section class="container">
  <header class="my-4 py-2">
    <div class="overlay"></div>
    <h4 class="fw-semibold">PRODUCTS</h4>
  </header>
  <div>
    <nav class="breadcrumb">
      <ol class="list-unstyled d-flex">
        <li>
          <a [routerLink]="['']">Home</a>
          <i class="fa-solid fa-angle-right mx-3"></i>
        </li>
        <li>Products</li>
      </ol>
    </nav>
  </div>
  <section class="row">
    <app-filter-sec class="col-xl-3 col-lg-4 d-none d-lg-block"></app-filter-sec>
    <div class="prds-container col-xl-9 col-lg-8 col-12 d-flex ps-4 gap-xl-4 gap-md-3 flex-wrap  justify-content-center">
      <app-offer-card class="flex-md-grow-0 flex-grow-1"></app-offer-card>
      @for (item of products; track $index) {
      <app-card class="flex-md-grow-0 flex-grow-1"></app-card>
      }
    </div>
  </section>
  <div class="pagination d-flex justify-content-end mt-5">
    <div class="d-flex gap-2 align-items-center">
      <span class="active">1</span>
      <span>2</span>
      <span>3</span>
      <span>4</span>
      <i class="fa-solid fa-angle-right"></i>
    </div>
  </div>
</section>
<app-mobile-filter class="d-lg-none d-block"></app-mobile-filter>
