<section class="container">
  <header class="my-4 py-2">
    <div class="overlay"></div>
    <h4 class="fw-semibold">PRODUCTS</h4>
  </header>
  <div>
    <nav class="breadcrumb">
      <ol class="list-unstyled d-flex">
        <li>
          <a [routerLink]="['']">Home</a>
          <i class="fa-solid fa-angle-right mx-3"></i>
        </li>
        <li>Products</li>
      </ol>
    </nav>
  </div>
  <section class="row">
    <div class="filter col-3">
      <div class="filter-header py-3 d-flex justify-content-between align-items-center">
        <h5 class="m-0">Filters</h5>
        <h6 class="m-0">reset</h6>
      </div>
      <div class="filter-menu">
        <div class="d-flex justify-content-between align-items-center py-3 ">
          <h5>Categories</h5>
          <i class="fa-solid fa-plus" (click)="openFilterMenu($event)"></i>
        </div>

        <div class="menu d-none">
          <div>
            <div class="checkbox">
              <input type="checkbox" id="menu1">
              <label for="menu1">MacBook</label>
            </div>
            <div class="checkbox">
              <input type="checkbox" id="menu2">
              <label for="menu2">MacBook</label>
            </div>
            <div class="checkbox">
              <input type="checkbox" id="menu3">
              <label for="menu3">MacBook</label>
            </div>
            <div class="checkbox">
              <input type="checkbox" id="menu4">
              <label for="menu4">MacBook</label>
            </div>
            <div class="checkbox">
              <input type="checkbox" id="menu4">
              <label for="menu4">MacBook</label>
            </div>
            <div class="checkbox">
              <input type="checkbox" id="menu4">
              <label for="menu4">MacBook</label>
            </div>
            <div class="checkbox">
              <input type="checkbox" id="menu4">
              <label for="menu4">MacBook</label>
            </div>
            <div class="checkbox">
              <input type="checkbox" id="menu4">
              <label for="menu4">MacBook</label>
            </div>
            <div class="checkbox">
              <input type="checkbox" id="menu4">
              <label for="menu4">MacBook</label>
            </div>
            <div class="checkbox">
              <input type="checkbox" id="menu4">
              <label for="menu4">MacBook</label>
            </div>
            <div class="checkbox">
              <input type="checkbox" id="menu4">
              <label for="menu4">MacBook</label>
            </div>
            <div class="checkbox">
              <input type="checkbox" id="menu4">
              <label for="menu4">MacBook</label>
            </div>
            <div class="checkbox">
              <input type="checkbox" id="menu4">
              <label for="menu4">MacBook</label>
            </div>
            <div class="checkbox">
              <input type="checkbox" id="menu4">
              <label for="menu4">MacBook</label>
            </div>

          </div>
        </div>
      </div>
      <div class="filter-menu">
        <div class="d-flex justify-content-between align-items-center py-3 ">
          <h5>Brands</h5>
          <i class="fa-solid fa-plus" (click)="openFilterMenu($event)"></i>
        </div>
        <div class="menu d-none">
          <input type="search" placeholder="Search for brand">
          <div>
            <div class="checkbox">
              <input type="checkbox" id="menu1">
              <label for="menu1">MacBook</label>
            </div>
            <div class="checkbox">
              <input type="checkbox" id="menu2">
              <label for="menu2">MacBook</label>
            </div>
            <div class="checkbox">
              <input type="checkbox" id="menu3">
              <label for="menu3">MacBook</label>
            </div>
            <div class="checkbox">
              <input type="checkbox" id="menu4">
              <label for="menu4">MacBook</label>
            </div>
            <div class="checkbox">
              <input type="checkbox" id="menu4">
              <label for="menu4">MacBook</label>
            </div>
            <div class="checkbox">
              <input type="checkbox" id="menu4">
              <label for="menu4">MacBook</label>
            </div>
            <div class="checkbox">
              <input type="checkbox" id="menu4">
              <label for="menu4">MacBook</label>
            </div>
            <div class="checkbox">
              <input type="checkbox" id="menu4">
              <label for="menu4">MacBook</label>
            </div>
            <div class="checkbox">
              <input type="checkbox" id="menu4">
              <label for="menu4">MacBook</label>
            </div>
            <div class="checkbox">
              <input type="checkbox" id="menu4">
              <label for="menu4">MacBook</label>
            </div>
            <div class="checkbox">
              <input type="checkbox" id="menu4">
              <label for="menu4">MacBook</label>
            </div>
            <div class="checkbox">
              <input type="checkbox" id="menu4">
              <label for="menu4">MacBook</label>
            </div>
            <div class="checkbox">
              <input type="checkbox" id="menu4">
              <label for="menu4">MacBook</label>
            </div>
            <div class="checkbox">
              <input type="checkbox" id="menu4">
              <label for="menu4">MacBook</label>
            </div>
          </div>
        </div>
      </div>
      <div class="filter-menu">
        <div class="d-flex justify-content-between align-items-center py-3 ">
          <h5>Model</h5>
          <i class="fa-solid fa-plus" (click)="openFilterMenu($event)"></i>
        </div>
        <div class="menu d-none">
          <input type="search" placeholder="Search for brand">
          <div>
            <div class="checkbox">
              <input type="checkbox" id="menu1">
              <label for="menu1">MacBook</label>
            </div>
            <div class="checkbox">
              <input type="checkbox" id="menu2">
              <label for="menu2">MacBook</label>
            </div>
            <div class="checkbox">
              <input type="checkbox" id="menu3">
              <label for="menu3">MacBook</label>
            </div>
            <div class="checkbox">
              <input type="checkbox" id="menu4">
              <label for="menu4">MacBook</label>
            </div>
            <div class="checkbox">
              <input type="checkbox" id="menu4">
              <label for="menu4">MacBook</label>
            </div>
            <div class="checkbox">
              <input type="checkbox" id="menu4">
              <label for="menu4">MacBook</label>
            </div>
            <div class="checkbox">
              <input type="checkbox" id="menu4">
              <label for="menu4">MacBook</label>
            </div>
            <div class="checkbox">
              <input type="checkbox" id="menu4">
              <label for="menu4">MacBook</label>
            </div>
            <div class="checkbox">
              <input type="checkbox" id="menu4">
              <label for="menu4">MacBook</label>
            </div>
            <div class="checkbox">
              <input type="checkbox" id="menu4">
              <label for="menu4">MacBook</label>
            </div>
            <div class="checkbox">
              <input type="checkbox" id="menu4">
              <label for="menu4">MacBook</label>
            </div>
            <div class="checkbox">
              <input type="checkbox" id="menu4">
              <label for="menu4">MacBook</label>
            </div>
            <div class="checkbox">
              <input type="checkbox" id="menu4">
              <label for="menu4">MacBook</label>
            </div>
            <div class="checkbox">
              <input type="checkbox" id="menu4">
              <label for="menu4">MacBook</label>
            </div>
          </div>
        </div>
      </div>
      <div class="filter-menu">
        <div class="d-flex justify-content-between align-items-center py-3 ">
          <h5>Model</h5>
          <i class="fa-solid fa-plus" (click)="openFilterMenu($event)"></i>
        </div>
        <div class="menu d-none">
          <input class="w-100" type="range" >
          <div class="d-flex justify-content-between">
            <span>500 L.E</span>
            <span>10K L.E</span>
          </div>
        </div>
      </div>
    </div>
    <div class="prds-container col-9 d-flex ps-4 gap-4 flex-wrap justify-content-md-end justify-content-center">
      <app-offer-card></app-offer-card>
      @for (item of products; track $index) {
      <app-card></app-card>
      }
    </div>
  </section>
  <div class="pagination d-flex justify-content-end mt-5">
    <div class="d-flex gap-2 align-items-center">
      <span class="active">1</span>
      <span>2</span>
      <span>3</span>
      <span>4</span>
      <i class="fa-solid fa-angle-right"></i>
    </div>
  </div>
</section>
