/* === */
/* Whole Div */

/* === */
/* image */
.no-account{
  position: relative;
  margin-block:100px ;
}
.imgOfNotSign {
  width: 139px;
  height: 199px;
  position: relative;
  left: -25px;
  background-image: url("/assets/images/no-account1.png");
  background-size: cover;
  animation: picMove 2.2s cubic-bezier(1, -0.77, 0, 1.5) infinite;
}

.pleaseSignIn {
  border-top: 2px rgba(138, 154, 148, 1) solid;
  width: 100%;
  max-width: 675px;
  padding-block:45px;
  position: relative;
  top: -55px;
  background-color: #fff;
}

.txtNotAccount {
  color: rgba(0, 0, 0, 1);
  font-size: 22px;
  font-weight: 500;
  line-height: 26.82px;
  text-align: center;
}

.txtToRegister {
  color: rgba(0, 0, 0, 1);
  font-size: 18px;
  font-weight: 400;
  line-height: 16px;
  text-align: center;
}

.btnOfSignIn {
  background-color: rgba(9, 118, 76, 0.8);
  color: white;
  padding: 14px 10px 14px 10px;
  gap: 10;
  border-radius: 6px;
  width: 198px;
  font-size: 16px;
  font-weight: 500;
  line-height: 16px;
  text-align: center;
}

@keyframes picMove{
  0%{
    background-image: url("/assets/images/no-account2.png");
  }
  100%{
    background-image: url("/assets/images/no-account1.png");
  }

}

