.prd-card {
  width: 292px;
  border-radius: 6px;
  box-shadow: 0px 4px 11px 0px #00000014;
  -webkit-user-select: none;
  user-select: none;
  padding-inline: 16px;
  gap: 16px;
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  background-color: #fff;
}

.slider {
  max-width: 240px;
  min-width: 240px;
  padding-bottom: 20px;
}

.prd-image {
  height: 180px;
  width: 180px;
}

.prd-image img {
  width: 100%;
  height: 100%;
  /* object-fit: cover; */
}

.prd-rate i {
  margin-left: 5px;
  color: #EFD80D;
}

.prd-info {
  color: #858585;
  margin-bottom: 8px;
  font-size: 14px;
}

.card-body {
  width: 100%;
  padding-inline: 16px;
}

.card-body h5 {
  font-size: 16px;
  text-wrap: wrap
}

.colors span {
  border-radius: 50%;
  background-color: #858585;
  width: 12px;
  height: 12px;
  box-shadow: 0px 4px 11px 0px #00000014;
  border: .3px rgb(227, 223, 223) solid;
}

.prd-price h5 {
  color: #09764CCC;
  font-size: 14px;
}

@media (min-width:767.5px) {
  .prd-card {
    height: 320px;
  }
}

@media (max-width:767.5px) {
  .products-page.prd-card {
    flex-direction: row;
    padding-block: 30px;
  }

  .products-page .prd-image {
    width: 120px;
    height: 120px;
  }

  .products-page .prd-info {
    font-size: 14px !important;
  }

  .products-page .title h5 {
    font-weight: 600;
    font-size: 18px;
  }

  .products-page .prd-price h5 {
    font-size: 16px;
  }

}
