<div class="prd-card pb-3"  draggable="false" [ngClass]="{'products-page': isProductPage,'slider':isSlider}" [routerLink]="['/product/'+product.uuid]" >
  <div class="prd-image">
    <img  draggable="false" class="w-100" [src]="product.photos[0]" alt="">
  </div>
  <div class="card-body">
    <div class="d-flex justify-content-between mb-2 mb-md-2 title">
      <h5 class="m-0">{{product.displayName}}</h5>
      <!-- <div class="prd-rate"><span>4.8</span><i class="fa-solid fa-star"></i></div> -->
    </div>
    <div class="prd-info d-flex justify-content-between align-items-center mb-2 mb-md-2">
      <div >
          <span >{{descriptions[0]}}</span>
          -
          <span >{{descriptions[1]}}</span>
      </div>
      <div class="colors d-flex gap-1">
        @for (color of product.groupedVariants; track $index) {
          <span [style]="'background-color:'+ (color=='White'?'#eceaea':color) +';'"></span>
        }
      </div>
    </div>
    <div class="prd-price mb-2 mb-md-2">
      <h5 >Starts {{product.lowestPrice | number :'3.0-0'}} L.E</h5>
    </div>
  </div>
</div>
