<div class="prd-card pb-3" draggable="false" [ngClass]="{'products-page': isProductPage,'slider':isSlider}"
  (click)="reloadComponent(false,'product/'+product.displayName)">
  <div class="prd-image">
    <img draggable="false" class="w-100" [src]="product.photos[0]" alt="">
  </div>
  <div class="card-body d-flex flex-column justify-content-between">
    <div class="d-flex justify-content-between mb-2 mb-md-2 title">
      <h5 class="m-0">{{product.displayName}}</h5>
      <!-- <div class="prd-rate"><span>4.8</span><i class="fa-solid fa-star"></i></div> -->
    </div>
    <div class="prd-info mb-2 mb-md-2">
      {{product.description}}
    </div>
    @if (product.groupedVariants.length> 0) {
    <div class="colors d-flex gap-1 mb-2 mb-md-2 flex-wrap">
      @for (color of product.groupedVariants; track $index) {
      <span [style]="'background-color:'+ color +';'"></span>
      }
    </div>
    }
    <div class="prd-price mb-2 mb-md-2">
      <h5>{{'products.starts' | translate}} {{product.lowestPrice | number :'3.0-0'}} {{'products.le' | translate}}</h5>
    </div>
  </div>
</div>
