<div class="container my-5">
  <h1>Dayra Market Cookie Notice</h1>
  <ol>
    <li>
      About this Notice
      <ul>
        <li>This Cookie Notice provides information on how Dayra Market uses cookies when you visit our website or
          mobile applications. Any Personal Data provided to or collected by Dayra Market via cookies and other tracking
          technologies is controlled by Dayra Market. Kindly familiarize yourself with our cookie practices. </li>
      </ul>
    </li>
    <li>Cookies and how we use them
      <ul>
        <li>A cookie is a small file of letters and numbers that websites send to the browser which are stored in the
          User terminal, which might be our computer, phones or applications, your personal computer, a mobile phone, a
          tablet, or any other device.
          Cookies allow us to distinguish you from other users of our website and mobile applications, which helps us to
          provide you with an enhanced browsing experience.
          For example, we use cookies for the following purposes:
        </li>
        <li>2.1 Recognizing and counting the number of visitors and to see how visitors move around our sites, mobile
          apps [and app] when they are using it (this helps us to improve the way our website works, for example by
          ensuring that users can find what they are looking for).</li>
        <li>2.2 Identifying your preferences and subscriptions e.g. language settings, saved items, items stored in your
          basket and Prime membership; and</li>
        <li>2.3 Sending you newsletters and commercial/advertising messages tailored to your interests. </li>
        <li>Our approved third parties may also set cookies when you use our marketplace. Third parties include search
          engines, providers of measurement and analytics services, social media networks and advertising companies.
        </li>
      </ul>
    </li>
    <li>
      Cookie Preferences
      <ul>
        <li>We use technology such as “cookies” to collect information and store your online preferences. </li>
        <li>By managing your cookie preference, you enable or disable a specific set of cookies based on predefined
          categorization:</li>
        <li> <span class="fw-semibold">3.1 Strictly Necessary Cookies : </span>
          This cookie enables website functionality and is automatically enabled when you use the Site. This is
          essential to
          the operation of the Site to help you make the bag and check out process possible. You cannot disable this
          category of cookie.
        </li>
        <li> <span class="fw-semibold">3.2	Analytics Cookies : </span>
          It is important for Us to understand how you use the Site, for example, how efficiently you are able to navigate around it, and what features you use. Analytics Cookies enable us to gather this information, helping Us to improve Our Site and your experience of it.
          </li>
          <li><span class="fw-semibold">3.3	Functional Cookies : </span>
            Functionality Cookies allow the Site to remember the choice you made and provide you with enhanced personal features. The information these cookies collect is anonymized and doesn’t track your browsing activity on the Site.
            </li>
            <li> <span class="fw-semibold"> 3.4	Targeting Cookies : </span>
              It is important for Us to know when and how often you visit the Site, and which parts of it you have used (including which pages you have visited and which links you have visited). As with Analytics Cookies, this information helps us to better understand you and, in turn, to make Our Site and advertising more relevant to your interests. Some information gathered by Targeting Cookies may also be shared with third parties.
              </li>
              <li><span class="fw-semibold">3.5	Third Party Cookies : </span>
                Third party Cookies are not placed by Us; instead, they are placed by third parties that provide services to Us and/or to you. Third party Cookies may be used by advertising services to serve up tailored advertising to you on Our Site, or by third parties providing analytics services to Us (these Cookies will work in the same way as Analytics Cookies described above).
                </li>
                <li><span class="fw-semibold">3.6	Persistent Cookies : </span>
                  Any of the above types of Cookie may be a persistent Cookie. Persistent Cookies are those which remain on your computer or device for a predetermined period and are activated each time you visit Our Site.
                  </li>
                  <li><span class="fw-semibold">3.7	Session Cookies</span>
                    Any of the above types of Cookie may be a session Cookie. Session Cookies are temporary and only remain on your computer or device from the point at which you visit Our Site until you close your browser. Session Cookies are deleted when you close your browser.
                    </li>
                    <li>For more details of the personal data that We collect and use, the measures we have in place to protect personal data, your legal rights, and our legal obligations, please refer to our Privacy notice.</li>
      </ul>
    </li>
    <li>
      Consent
      <ul>
        <li>Before Cookies are placed on your computer or device, you will be shown a prompt requesting your consent to set those Cookies. By giving your consent to the placing of Cookies you are enabling Us to provide the best possible experience and service to you. You may, if you wish, deny consent to the placing of Cookies (unless those Cookies are strictly necessary); however certain features of Our Site may not function fully or as intended. You will be given the opportunity to allow and/or deny different categories of Cookie that We use.</li>
        <li>In addition to the controls that We provide, you can choose to enable or disable Cookies in your internet browser. Most internet browsers also enable you to choose whether you wish to disable all Cookies or only third- party Cookies. By default, most internet browsers accept Cookies but this can be changed. For further details, please consult the help menu in your internet browser or the documentation that came with your device.</li>
        <li>The links below provide instructions on how to control Cookies in all mainstream browsers:</li>
        <ul>
          <li>Google Chrome</li>
          <li>Microsoft Internet Explorer</li>
          <li>Microsoft Edge (Please note that there are no specific instructions at this time, but Microsoft support will be able to assist)</li>
          <li>Safari (macOS)</li>
          <li>Safari (iOS)</li>
          <li>Mozilla</li>
          <li>Android (Please refer to your device’s documentation for manufacturers’ own browsers)</li>

        </ul>
      </ul>
    </li>
    <li>Changes to this Cookie Policy
      <ul>
        <li>
          We may alter this Cookie Policy at any time. If We do so, details of the changes will be highlighted at the top of this page. Any such changes will become binding on you on your first use of Our Site after the changes have been made. You are therefore advised to check this page from time to time.
        </li>
        <li>In the event of any conflict between the current version of this Cookie Policy and any previous version(s), the provisions current and in effect shall prevail unless it is expressly stated otherwise. </li>
      </ul>
    </li>
    <li>Further Information
      <ul>
        <li>If you are looking for more information on how we process your personal data, or you wish to exercise your legal rights in respect of your personal data, please send us an <a href="mailto:legal@DayraMarket.com">legal&#64;DayraMarket.com</a> .</li>
      </ul>
    </li>
  </ol>
</div>
