<app-landing></app-landing>

  <app-product-slider [Title]="'Our Tech'" class="my-5 d-block"></app-product-slider>
  <app-devices class="my-5 pt-5 d-block" ></app-devices>
  <app-two-pic></app-two-pic>
  <app-one-pic
  [isWhiteBg]="false"
  [title]="'How Verified Refurbished Works'"
  [paragraph]="'Verified Refurbished by Dayra Market means electronics that have been inspected and certified by industry professionals.'"
  [buttonText]="'Learn More'"
  [buttonLinkTo]="'how-it-works'"
   ></app-one-pic>
  <app-product-slider [Title]="'Laptops'" class="my-5 d-block"></app-product-slider>
  <!-- <app-one-pic [isLeft]="false" [imgPath]="'assets/images/bae939f70c22a782b853d8641e49ab6a.jpeg'"></app-one-pic> -->
  <app-brand-slider class="my-5 d-block"></app-brand-slider>
<app-testimonial></app-testimonial>
