<div class="container">


  <h4 class="mb-4 pb-2">Must Have's</h4>
  <div class="devices">
    <div class="device">
      <img class="w-100" src="assets/images/devices/6dbb6550effd4a9fed97957408cf7692.jpeg" alt="">
      <div class="d-flex justify-content-between align-items-center device-info">
        <p class="text-uppercase m-0 ">MacBook Air M2</p>
        <a [routerLink]="['/routePath']">more</a>
      </div>
    </div>
    <div class="device">
      <img class="w-100" src="assets/images/devices/81655161b87748b98e59fa75e7f7857a.jpeg" alt="">
      <div class="d-flex justify-content-between align-items-center device-info">
        <p class="text-uppercase m-0 ">MacBook Air M2</p>
        <a [routerLink]="['/routePath']">more</a>
      </div>
    </div>
    <div class="device">
      <img class="w-100" src="assets/images/devices/422f17400c8a0fb5a7e91dc073945e57.jpeg" alt="">
      <div class="d-flex justify-content-between align-items-center device-info">
        <p class="text-uppercase m-0 ">MacBook Air M2</p>
        <a [routerLink]="['/routePath']">more</a>
      </div>
    </div>
    <div class="device">
      <img class="w-100" src="assets/images/devices/1ca6ed44bd40d4d3a53946029c1f5069.jpeg" alt="">
      <div class="d-flex justify-content-between align-items-center device-info">
        <p class="text-uppercase m-0 ">MacBook Air M2</p>
        <a [routerLink]="['/routePath']">more</a>
      </div>
    </div>
    <div class="device">
      <img class="w-100" src="assets/images/devices/57e494ba11e96962b24b375c5c25a36e.jpeg" alt="">
      <div class="d-flex justify-content-between align-items-center device-info">
        <p class="text-uppercase m-0 ">MacBook Air M2</p>
        <a [routerLink]="['/routePath']">more</a>
      </div>
    </div>
  </div>

</div>
