<div class="filter">
  <form #formRef>
  <div class="filter-header py-3 d-flex justify-content-between align-items-center">
    <h5 class="m-0">Filters</h5>
    <h6 class="m-0" (click)="filterService.reset(formRef)">reset</h6>
  </div>
  <div class="filter-menu">
    <div class="d-flex justify-content-between align-items-center py-3 ">
      <h5>Categories</h5>
      <i class="fa-solid fa-plus" (click)="filterService.openFilterMenu($event)"></i>
    </div>

    <div class="menu d-none">
      <div>
        <app-filter [filters]="filterService.categoriesFiltered" (filterChange)="filterService.getChecked($event)"></app-filter>
      </div>
    </div>
  </div>
  <div class="filter-menu">
    <div class="d-flex justify-content-between align-items-center py-3 ">
      <h5>Brands</h5>
      <i class="fa-solid fa-plus" (click)="filterService.openFilterMenu($event)"></i>
    </div>
    <div class="menu d-none">
      <input type="text" placeholder="Search for brand" (keyup)="filterService.brandSearchHandler($event)">
      <div>
        <app-filter [filters]="filterService.brandsFiltered" (filterChange)="filterService.getChecked($event)"></app-filter>
      </div>
    </div>
  </div>
  <div class="filter-menu">
    <div class="d-flex justify-content-between align-items-center py-3 ">
      <h5>Model</h5>
      <i class="fa-solid fa-plus" (click)="filterService.openFilterMenu($event)"></i>
    </div>
    <div class="menu d-none">
      <input type="text" placeholder="Search for brand" >
      <div>
        <app-filter [filters]="filterService.brandsFiltered" (filterChange)="filterService.getChecked($event)"></app-filter>
      </div>
    </div>
  </div>
  <div class="filter-menu">
    <div class="d-flex justify-content-between align-items-center py-3 ">
      <h5>Price</h5>
      <i class="fa-solid fa-plus" (click)="filterService.openFilterMenu($event)"></i>
    </div>
    <div class="menu d-none">
      <input #rangeRef class="w-100" type="range" min="10000" max="100000" value="100000" (change)="filterService.onPriceChange(rangeRef.value)">
      <div class="d-flex justify-content-between">
        <span>{{rangeRef.min}} L.E</span>
        <span>{{rangeRef.value}} L.E</span>
      </div>
    </div>
  </div>
</form>
</div>


