<div class="filter">
  <form #formRef>
  <div class="filter-header py-3 d-flex justify-content-between align-items-center">
    <h5 class="m-0">{{'products.filters' | translate}}</h5>
    <h6 class="m-0" (click)="filterService.formReset(formRef)">{{'products.reset' | translate}}</h6>
  </div>
  <div class="filter-menu">
    <div class="d-flex justify-content-between align-items-center py-3 ">
      <h5>{{'products.categories' | translate}}</h5>
      <i class="fa-solid fa-plus" #catIconRef (click)="filterService.openFilterMenu(catIconRef)"></i>
    </div>

    <div class="menu d-none">
      <div>
        <app-filter [filters]="filterService.categoriesFiltered" (filterChange)="filterService.getChecked($event)"></app-filter>
      </div>
    </div>
  </div>
  <div class="filter-menu">
    <div class="d-flex justify-content-between align-items-center py-3 ">
      <h5>{{'products.brands' | translate}}</h5>
      <i class="fa-solid fa-plus" #brandIconRef  (click)="filterService.openFilterMenu(brandIconRef)"></i>
    </div>
    <div class="menu d-none">
      <input type="text" [placeholder]="'products.brandSearch' | translate" (keyup)="filterService.brandSearchHandler($event)">
      <div>
        <app-filter [filters]="filterService.brandsFiltered" (filterChange)="filterService.getChecked($event)"></app-filter>
      </div>
    </div>
  </div>
  <div class="filter-menu">
    <div class="d-flex justify-content-between align-items-center py-3 ">
      <h5>{{'products.price' | translate}}</h5>
      <i class="fa-solid fa-plus" #priceIconRef (click)="filterService.openFilterMenu(priceIconRef)"></i>
    </div>
    <div class="menu d-none">
      <input #rangeRef class="w-100" type="range" [min]="filterService.productService.lowestPrice" [max]="filterService.productService.highestPrice" [value]="rangeRef.max" (change)="filterService.onPriceChange(rangeRef.value)">
      <div class="d-flex justify-content-between">
        <span>{{rangeRef.min}} L.E</span>
        <span>{{rangeRef.value}} L.E</span>
      </div>
    </div>
  </div>
</form>
</div>


