<div class="container">

  <div class="brand-header d-flex justify-content-between align-items-center mb-4">
    <h4>Brands</h4>
    <a routerLink="/products">more <i class="fa-solid fa-angle-right"></i> </a>
  </div>
  <div class="scroller" #scrollerRef data-direction="right" data-speed="fast" data-animated="true">
    <div class="scroller__inner">
      @for (brand of brands; track $index) {
      <a [routerLink]="['products']" [state]="{brandId:brand.uuid}"> <img [src]="'https://dayra-market.addictaco.com'+brand.photoPath" [alt]="brand.displayName" /></a>

      }
      @for (brand of brands; track $index) {
      <a [routerLink]="['products']" [state]="{brandId:brand.uuid}" aria-hidden="true"> <img [src]="'https://dayra-market.addictaco.com'+brand.photoPath" [alt]="brand.displayName" /></a>
      }
    </div>
  </div>
</div>
