
.brand-header a{
  background: linear-gradient(93.76deg, #2ECA8D 6.67%, #2EA365 98.32%);
  font-size: 20px;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}
.brand-header i{
  background: linear-gradient(256.5deg, #00CB7C 5.38%, #00863F 134.68%);
  background-clip: text;
  -webkit-text-fill-color: transparent;
}
.scroller__inner {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
}
img{
  height:80px;
  width:150px;
  border-radius:6px;
  cursor:pointer;
}
.scroller[data-animated="true"] {
  overflow: hidden;
}
.scroller[data-animated="true"] .scroller__inner:hover {
  animation-play-state: paused;
}
.scroller[data-animated="true"] .scroller__inner {
  width: max-content;
  flex-wrap: nowrap;
  animation: scroll var(--_animation-duration, 40s)
    var(--_animation-direction, forwards) linear infinite ;
}

.scroller[data-direction="right"] {
  --_animation-direction: reverse;
}

.scroller[data-direction="left"] {
  --_animation-direction: forwards;
}

.scroller[data-speed="fast"] {
  --_animation-duration: 30s;
}

.scroller[data-speed="slow"] {
  --_animation-duration: 60s;
}

@keyframes scroll {
  to {
    transform: translate(calc(-50% - 0.5rem));
  }
}

