<div class="container">

  <div class="brand-header d-flex justify-content-between align-items-center mb-4">
    <h4>Brands</h4>
    <a routerLink="/products">more <i class="fa-solid fa-angle-right"></i> </a>
  </div>

  <div class="scroller" #scrollerRef data-direction="right" data-speed="fast">
    <div class="scroller__inner">
      <a routerLink="/"> <img src="assets/images/Brands/1a7f54324291b15b8c0b8901dc12cdd6.png" alt="" /></a>
      <a routerLink="/"> <img src="assets/images/Brands/2700d599c1ff830766e16365351e91e9.png" alt="" /></a>
      <a routerLink="/"> <img src="assets/images/Brands/375b090775e8de80b9806ebc482489d0.jpeg" alt="" /></a>
      <a routerLink="/"> <img src="assets/images/Brands/60d4682002793a58edf3d6d26a88886f.jpeg" alt="" /></a>
      <a routerLink="/"> <img src="assets/images/Brands/b5141669d508295a4eb6c97d72780847.png" alt="" /></a>
      <a routerLink="/"> <img src="assets/images/Brands/f47e8cddcc37bda9a3fa3bf0b27dc338.jpeg" alt="" /></a>
      <a routerLink="/"> <img src="assets/images/Brands/1a7f54324291b15b8c0b8901dc12cdd6.png" alt="" /></a>
      <a routerLink="/"> <img src="assets/images/Brands/2700d599c1ff830766e16365351e91e9.png" alt="" /></a>
      <a routerLink="/"> <img src="assets/images/Brands/375b090775e8de80b9806ebc482489d0.jpeg" alt="" /></a>
    </div>
  </div>

</div>
