<div class="card ">
  <div class="row g-0">
    @switch (currentAddressStep) {
      @case (addressSteps.default) {
        <app-default-address [userAddress]="currentAddress" (addressStep)="currentAddressStep=$event" [isLoading]="isLoading"></app-default-address>
      }
      @case (addressSteps.add) {
        <app-add-update-address [AddressForm]="addAddressForm" [isCart]="true"></app-add-update-address>
      }
      @case (addressSteps.update) {
        <app-add-update-address [AddressForm]="addAddressForm" [isCart]="true" [address]="currentAddress"></app-add-update-address>
      }
      @case (addressSteps.showAll) {
      <app-show-addresses [isLoading]="isLoading" [addresses]="addresses" [isCart]="true" (selectedAddress)="currentAddress=$event" (addressStep)="currentAddressStep=$event"></app-show-addresses>
      }
    }
  </div>
  <!-- Next step -->
  <div class="card-body">

    <div class="justify-content-between d-flex totalPrice py-4 ">
      <p class="txtOfCountFinal mb-0">Total </p>
      <p class="txtOfCountFinal mb-0">{{totalPrice}} L.E</p>
    </div>

    <div class=" mb-3 ">
      <button type="submit" class="btn btnAddToCart py-3" (click)="onSubmit()" role="button">
        Next
      </button>
    </div>

  </div>
</div>
