<div class="card ">
  <div class="row g-0">
    @switch (currentAddressStep) {
      @case (addressSteps.default) {
        <app-default-address  (addressStep)="currentAddressStep=$event" [isLoading]="isLoading"></app-default-address>
      }
      @case (addressSteps.add) {
        <app-add-update-address [AddressForm]="addAddressForm" [isCart]="true"></app-add-update-address>
      }
      @case (addressSteps.update) {
        <app-add-update-address [AddressForm]="addAddressForm" [isCart]="true" [address]="currentAddress"></app-add-update-address>
      }
      @case (addressSteps.showAll) {
      <app-show-addresses [isLoading]="isLoading" [addresses]="addresses" [isCart]="true" (selectedAddress)="currentAddress=$event" (addressStep)="currentAddressStep=$event"></app-show-addresses>
      }
    }
  </div>
  <!-- Next step -->
  <div class="card-body">

    <div class="justify-content-between d-flex totalPrice py-4 ">
      <p class="txtOfCountFinal mb-0">{{'cart.total' | translate}} </p>
      <p class="txtOfCountFinal mb-0">{{totalPrice | number: '3.0-0'}} {{'products.le' | translate}}</p>
    </div>

    <div class=" mb-3 ">
      <button type="submit" class="btn btnAddToCart py-3" (click)="onSubmit()" [disabled]="isLoading" role="button">
        {{'cart.next' | translate}}
      </button>
    </div>

  </div>
</div>
