/* Inputs */

.userInput {
  padding: 15px 25px;
  background-color: rgba(244, 244, 244, 1);
  border: none;
}

.form-control:focus{
  box-shadow: none;
}

.iconOfInput {
  background-color: rgba(244, 244, 244, 1);
  border: none;
  padding-right: 25px;
}

input[type="text"],
input[type="tel"] {
  color: rgba(85, 85, 85, 1);
  font-size: 14px;
  font-weight: 500;
  line-height: 17.07px;
  letter-spacing: 0.08em;
  text-align: left;
}

/* Select */
.textOfSelectList {
  font-size: 12px;
  font-weight: 400;
  line-height: 14.63px;
  letter-spacing: 0.08em;
  text-align: left;
  color: rgba(85, 85, 85, 1);
}

.textOfSelectList:focus {
  box-shadow: none;
}

.userApartmentNumber {
  padding: 15px 25px;
  background-color: rgba(244, 244, 244, 1);
  border: none;
  color: rgba(85, 85, 85, 1);

  font-size: 12px !important;
  font-weight: 400 !important;
  line-height: 14.63px !important;
  letter-spacing: 0.08em;
  text-align: left;
}

.userDetails {
  padding: 15px 25px;
  background-color: rgba(244, 244, 244, 1);
  border: none;
  color: rgba(160, 160, 160, 1);
  font-size: 12px !important;
  font-weight: 500 !important;
  line-height: 14.63px !important;
  letter-spacing: 0.08em;
  text-align: left;
}

.labelOfSaveCheckbox {
  font-size: 12px;
  font-weight: 500;
  line-height: 14.63px;
  letter-spacing: 0.08em;
  text-align: left;
  color: rgba(63, 63, 63, 0.8);
  cursor: pointer;
}



.txtOfCount {
  font-size: 14px;
  font-weight: 400;
  line-height: 17.07px;
  text-align: center;
  color: rgba(132, 132, 132, 1);
}

.txtOfCountFinal {
  font-size: 16px;
  font-weight: 600;
  line-height: 19.5px;
  text-align: center;
  color: rgba(0, 0, 0, 1);
}

.totalPrice {
  border-top: 0.8px solid rgba(200, 200, 200, 1);
}

.data-btn{
  background-color: #343434CC;
  color: #FAFAFA;
  border-radius: 6px;
  padding: 12px 24px ;
  border: none;
  ;
}
.data-btn:hover{
  background-color: #E07575;
}
