


.might-header h4{

  color: rgba(0, 0, 0, 1);
  font-weight: 500;
  font-family: "Montserrat", sans-serif;
  line-height: 26.82px;
  letter-spacing: 8%;
}


drag-scroll {
  height: 300px;
  display: flex;
  white-space: nowrap;
}

app-card-product-details {
  display: inline-block;
  white-space: normal;
}


