<div class="offer-card" draggable="false">
  <span class="offer">offer</span>
  <div class="d-flex  flex-column align-items-center ">
    <div class="image">
      <img  draggable="false" class="w-100" src="assets/images/prd.png" alt="">
    </div>
    <div class="colors d-flex gap-1 mt-2">
      <span></span><span></span><span></span>
    </div>
  </div>
  <div class="info text-center d-flex flex-column align-items-center gap-3">
    <h5 class="m-0" >OUR LATEST OFFER BEST PICKS</h5>
    <h6 class="m-0" >I Phone 14 - 128 GB - PURPLE</h6>
    <p class="prd-price">Starts 11,000 L.E</p>
    <div class="stars d-flex ">
      <i class="fa-solid fa-star"></i>
      <i class="fa-solid fa-star"></i>
      <i class="fa-solid fa-star"></i>
      <i class="fa-solid fa-star"></i>
      <i class="fa-solid fa-star"></i>
    </div>
  </div>
</div>
