<div class="offer-card" draggable="false" [routerLink]="['/product/'+product.displayName]" [state]="{id:product.uuid}">
  <span class="offer">offer</span>
  <div class="d-flex  flex-column align-items-center ">
    <div class="image">
      <img  draggable="false" class="w-100 h-100" [src]="product.photos[0]" alt="">
    </div>
    <div class="colors d-flex gap-1 mt-2">
      <span></span><span></span><span></span>
    </div>
  </div>
  <div class="info text-center d-flex flex-column  align-items-center gap-3">
    <h5 class="m-0" >OUR LATEST OFFER BEST PICKS</h5>
    <h6 class="m-0" >{{product.displayName}} - {{descriptions[1]}} - {{descriptions[0]}}</h6>
    <p class="prd-price">Starts {{product.lowestPrice | number:'3.0-0'}} L.E</p>
    <div class="stars d-flex ">
      <i class="fa-solid fa-star"></i>
      <i class="fa-solid fa-star"></i>
      <i class="fa-solid fa-star"></i>
      <i class="fa-solid fa-star"></i>
      <i class="fa-solid fa-star"></i>
    </div>
  </div>
</div>
