<div class="offer-card" draggable="false" [routerLink]="['/product/'+product.displayName]" [state]="{id:product.uuid}">
  <span class="offer">{{'products.offer' | translate}}</span>
  <div class="d-flex  flex-column align-items-center ">
    <div class="image">
      <img  draggable="false" class="w-100 h-100" [src]="product.photos[0]" alt="">
    </div>
    <div class="colors d-flex gap-1 mt-2">
      @for (color of product.groupedVariants; track $index) {
        <span [style]="'background-color:'+ color +';'"></span>
      }
    </div>
  </div>
  <div class="info text-center d-flex flex-column  align-items-center gap-3">
    <h5 class="m-0" >{{'products.offerDesc' | translate}}</h5>
    <h6 class="m-0 prd-title" >{{product.displayName}} - {{product.description}}</h6>
    <p class="prd-price">{{'products.starts' | translate}} {{product.lowestPrice | number:'3.0-0'}} {{'products.le' | translate}}</p>
    <div class="stars d-flex ">
      <i class="fa-solid fa-star"></i>
      <i class="fa-solid fa-star"></i>
      <i class="fa-solid fa-star"></i>
      <i class="fa-solid fa-star"></i>
      <i class="fa-solid fa-star"></i>
    </div>
  </div>
</div>
