<div class="py-5 bgClass mb-5">

  <div class="container">

    <div class="might-header  mb-4">
      <h4>You might also like</h4>
    </div>
  
  
  <drag-scroll [scrollbar-hidden]="true" [drag-scroll-y-disabled]="true" >

      <app-card-product-details class="me-3 pe-0" ></app-card-product-details>
      <app-card-product-details class="me-3"></app-card-product-details>
      <app-card-product-details class="me-3"></app-card-product-details>
      <app-card-product-details class="me-3"></app-card-product-details>
      <app-card-product-details class="me-3"></app-card-product-details>
  

  </drag-scroll>


  </div>


</div>
