<div id="form">

</div>
<div class="d-flex justify-content-center">
  <div class="verify">
    <div class="title">
      <h4>Verification Code</h4>
    </div>
    <form class="w-100" [formGroup]="verifyForm" (submit)="onSubmit()">
      <div class="d-flex gap-3 justify-content-center">
      <div>
        <input type="text" maxLength="1" size="1" formControlName="num1"   appInputNavigation />
      </div>
      <div>
        <input type="text" maxLength="1" size="1" formControlName="num2"   appInputNavigation />
      </div>
      <div>
        <input type="text" maxLength="1" size="1" formControlName="num3"   appInputNavigation />
      </div>
      <div>
        <input type="text" maxLength="1" size="1" formControlName="num4"   appInputNavigation />
      </div>
      <div>
        <input type="text" maxLength="1" size="1" formControlName="num5"   appInputNavigation />
      </div>
    </div>
    <p>Resend code after  00:{{num <10 ?'0'+num:num }}</p>
    <button class="verify-btn mb-3 w-100">Verify</button>
    <button class="resend-btn mt-0 w-100" (click)="onResend()" [disabled]="num!=0" >Resend</button>
    </form>
  </div>
</div>
