<div class="container my-5">

  <h1>Limited Warranty Agreement</h1>

  <h2>Contents</h2>
  <ol>
    <li><a class="main-content" (click)="navigateToSection('article1')">What is covered by this Limited Warranty?</a></li>
    <li><a class="main-content" (click)="navigateToSection('article2')">How long does the coverage last?</a></li>
    <li><a class="main-content" (click)="navigateToSection('article3')">What is not covered?</a></li>
    <li><a class="main-content" (click)="navigateToSection('article4')">Any other limitations?</a></li>
    <li><a class="main-content" (click)="navigateToSection('article5')">How to obtain warranty service?</a></li>
    <li><a class="main-content" (click)="navigateToSection('article6')">Is this warranty an insurance?</a></li>
    <li><a class="main-content" (click)="navigateToSection('article7')">Governing Law</a></li>
  </ol>
  <p>Dayra Market requires all persons and entities that sell products on the Dayra Market website (<a href="dayramarket.com">dayramarket.com</a>) to offer Buyers the following limited warranty on Products sold through the Platform (this “Limited Warranty”).</p>
  <p>This Limited Warranty is not provided by Dayra Market but by the Seller. As specified in the General Terms and Conditions available here, Dayra Market acts as an intermediary and is in no case the seller or reseller of Products. Dayra Market is therefore not responsible for the Products sold via the Platform.</p>
  <p>This Limited Warranty is personal to the original Buyer and does not transfer with the Product. You may not assign, transfer, or convey this Limited Warranty. The capitalized terms in this Limited Warranty have the meaning assigned to them </p>
  <ol type="I">
    <li>In this limited warranty agreement when they are defined, </li>
    <li>When they are not defined here, in the Terms of Sale, available on the website <a href="dayramarket.com">dayramarket.com</a> .</li>
  </ol>

  <ol>
    <li>What is covered by this Limited Warranty?
      <ul>
        <p>This Limited Warranty gives you specific legal rights. Namely, the Seller warrants to the original Buyer of the Product on Dayra Market (as documented by a valid proof of purchase — e.g., receipt or invoice) that the Product shall be free from defects in materials and workmanship under normal use for 12 months after the delivery date (the “Warranty Period”).</p>
        <p>Any defect appearing during the Warranty period is presumed to have existed upon delivery. It is the Seller’s burden to demonstrate that any damage is either not covered by this Limited Warranty or was not a defect in the Product that existed at the time of delivery.</p>
        <p>In addition, the Seller will manage the return of the Product within 24 hours of Buyer completing the online return form and sending the required supporting documentation, as described in section 5 of this Limited Warranty.</p>
        <p>To that end, Dayra Market will send a return label to the Buyer so that they can return their Product to the Buyer. The cost of this label will be paid by the Seller if the Buyer’s claim falls within the present Limited Warranty, and by the Buyer otherwise.</p>
        <p>The Seller shall offer an option for exchange, repair, or reimbursement to the Buyer within five business days from receipt of the Product(s) by the Seller (it being specified that in case of exchange or repair, the Seller will pay the cost of shipping the replacement or repaired Product to the Buyer).</p>
        <p>In the event of a Product defect, to the extent permitted by law, these are your sole and exclusive remedies. For logistical reasons, for large or heavy Products (i.e., Products weighing more than 30 Kg or with dimensions of more than 1.5 m) and electric bikes, the Seller has 30 days from the receipt of the Product to propose an exchange or repair solution.</p>
        <p>Please note that you are required to return the defective Product in either its original packaging or packaging providing an equal degree of protection, together with proof of purchase, to the address specified by the Seller. Replacement or repaired products will only be shipped by Seller within Egypt, and refunds will only be credited to your original method of payment. Any replacement product will be warranted only for the remainder of the original warranty period.</p>
      </ul>
    </li>
    <li>How long does the coverage last?
      <ul>
        <p>This Limited Warranty lasts for twelve (12) months, starting on the date the Product is delivered to the Buyer.</p>
      </ul>
    </li>
    <li>
      What is not covered?
      <ul >
        <p>This Limited Warranty is excluded in the following cases:</p>
        <p>3.1 Product that is oxidized.</p>
        <p>3.2 Damage or failure arising out of an accident.</p>
        <p>3.3 One or several components of the Products were manipulated by the Buyer or by a third party not authorized by the Seller in connection with the defect for which the Buyer seeks warranty coverage</p>
        <p>3.4 Damage or failures arising out of misuse, abuse, neglect, mishandling, misapplication, faulty installation, improper maintenance, improper voltage supply. </p>
        <p>3.5 Loss exceeding the original value or replacement value (whichever is the lesser) of the Product.</p>
        <p>3.6 Damage or failure arising out of interference from or with other electronic devices, alteration, firmware flashing, BIOS flashing.</p>
        <p>3.7 This Limited Warranty does not cover Products purchased outside Egypt. Any Product returned to Seller that is not covered by the Limited Warranty may be rejected, returned at your cost (subject to prepayment) capped to 5% of the price of the Product, or kept for sixty (60) days for your pick-up and then disposed of in Seller’s sole discretion with no further liability or obligation to you.</p>
      </ul>
    </li>
    <li>ny other limitations?
      <ul>
        <p>4.1	IMPLIED WARRANTIES AND CONDITIONS. EXCEPT TO THE EXTENT PROHIBITED BY APPLICABLE LAW, ALL IMPLIED WARRANTIES AND CONDITIONS (INCLUDING WARRANTIES AND CONDITIONS OF MERCHANTABILITY AND FITNESS FOR A PARTICULAR PURPOSE) SHALL BE LIMITED TO THE DURATION OF THIS LIMITED WARRANTY.</p>
        <p>4.2	These limitations shall be enforceable to the extent permitted by law.</p>
        <p>4.3	LIMITATION OF DAMAGES. EXCEPT TO THE EXTENT PROHIBITED BY APPLICABLE LAW, THE SELLER SHALL NOT BE LIABLE FOR ANY INCIDENTAL, INDIRECT, SPECIAL, OR CONSEQUENTIAL DAMAGES, OR ANY LOSS OF PROFITS, REVENUE OR DATA, RESULTING FROM ANY BREACH OF AN EXPRESS OR IMPLIED WARRANTY OR CONDITION, OR UNDER ANY OTHER LEGAL THEORY, EVEN IF THE SELLER HAS BEEN ADVISED OF THE POSSIBILITY OF SUCH DAMAGES AND REGARDLESS OF THE FORM OF ACTION WHETHER IN CONTRACT, TORT (INCLUDING NEGLIGENCE) OR ANY OTHER LEGAL OR EQUITABLE THEORY. </p>
      </ul>
    </li>
    <li>How to obtain warranty service?
      <ul>
        <p>To obtain warranty service from the Seller under this Limited Warranty, you must log onto your Dayra Market account and request help from Dayra Market in your Orders page. Failing that, please contact Dayra Market at <a href="tel:+201012223305">+201012223305</a> to assist you in contacting the Seller. For more specific instructions on how to obtain warranty service on your Product, visit <a href="dayramarket.com">dayramarket.com</a>.</p>
      </ul>
    </li>
    <li>Is this warranty an insurance?
      <ul>
        <p>No, this Limited Warranty is not insurance, and no Buyer or third party is an insured or third-party beneficiary.</p>
      </ul>
    </li>
    <li>Governing Law
      <ul>
        <p>This Limited Warranty shall be governed by the laws of the Arab Republic of Egypt.</p>
      </ul>
    </li>

  </ol>
</div>


