<nav class="navbar  navbar-light bg-light borderOfNav"
 [class.BehaviorWithOffcanvas]="currentOffcanvasState === 'offcanvasTechnical'">
  <div class="container d-flex">
    <div>
      <a class="btn p-0 border-0" data-bs-toggle="offcanvas" href="#offcanvasExample" role="button"
        data-bs-target="#offcanvasExample" aria-controls="offcanvasExample"
        (click)="toggleOffCanvas('navOfHeader')">

        <svg width="23" height="17" viewBox="0 0 23 17" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path
            d="M17.25 1.15C17.25 0.514894 16.7351 0 16.1 0H1.15C0.514894 0 0 0.514894 0 1.15C0 1.78511 0.514894 2.3 1.15 2.3H16.1C16.7351 2.3 17.25 1.78506 17.25 1.15ZM1.15 6.9H21.85C22.4851 6.9 23 7.41494 23 8.05C23 8.6851 22.4851 9.2 21.85 9.2H1.15C0.514894 9.2 0 8.6851 0 8.05C0 7.41494 0.514894 6.9 1.15 6.9ZM1.15 13.8H11.5C12.1351 13.8 12.65 14.3149 12.65 14.95C12.65 15.5851 12.1351 16.1 11.5 16.1H1.15C0.514894 16.1 0 15.5851 0 14.95C0 14.3149 0.514894 13.8 1.15 13.8Z"
            fill="#677788" />
        </svg>
      </a>


    </div>
    <!-- Categories -->
    <div style="width: 95%;">
      <div class="scrolling-wrapper row flex-row flex-nowrap ">

        @for (item of smartTechList; track $index) {
        <span style="width: auto;">
          <a href="" class="stylingCategory ">
            {{item}}
          </a>
        </span>
        }

      </div>
    </div>
  </div>
</nav>


<!-- OffCanvas -->
<div>

  <div class="offcanvas offcanvas-start" data-bs-scroll="true" tabindex="-1" id="offcanvasExample"
    aria-labelledby="offcanvasExampleLabel">


    <div class="offcanvas-body">

      <div class=" mt-4">

        <ul class="list-unstyled " style="gap: 24px;">

          @for (item of category; track $index) {
          <li class="itemOffCanvas " (mouseover)="showOffCanvas(item)">
            <a class="categoryOffCanvas" data-bs-toggle="additionalOffCanvas" href="#additionalOffCanvas"
              data-bs-target="#additionalOffCanvas" aria-controls="additionalOffCanvas" >

              <img [src]="'https://dayra-market.addictaco.com'+item.iconPath"[width]="20"[height]="20" alt="">

              {{item.displayName.slice(0,15)}}
              {{ item.displayName.length > 15 ? "..." : "" }}

            </a>
          </li>
          }

        </ul>

      </div>
    </div>
  </div>

  <!-- Additional OffCanvas -->
   <app-secondOffCanvas [selectedCategory]="selectedCategory" (close)="closeAdditionalOffCanvas()"></app-secondOffCanvas>

</div>



