
 .navbar{
  z-index: 1041;
}

/* === */
/* Behavior With Off-canvas on Product details */

.BehaviorWithOffcanvas{
  position: relative;
  z-index: 0;
}

/* Change the focus of button */
.removeFocus:focus {
  box-shadow: none;
  border-color: rgb(226, 226, 226);
}

/* === */
/* For Horizontal Scroll */
.scrolling-wrapper {
  overflow-x: scroll;
  overflow-y:auto;
  white-space: nowrap;
  width: 100%;
}

/* Hide the scrollbar for WebKit browsers */
.scrolling-wrapper::-webkit-scrollbar {
  display: none;
}

/* Hide the scrollbar for Firefox */
@-moz-document url-prefix() {
  .scrolling-wrapper {
    overflow-x: auto;
  }
}

/* === */
/* Styling For each Category */
.stylingCategory {
  display: inline-block;
  margin-right: 15px;

  text-decoration: none;
  color: rgba(0, 0, 0, 0.6);
  cursor: pointer;
  font-weight: 400;
  font-family: "Montserrat", sans-serif;
  transition: color 0.3s ease, text-decoration 0.3s ease;
  align-items: center;
  line-height: 16px;
  cursor: pointer;
}

.stylingCategory:hover {
  text-decoration: underline;
  color: rgba(0, 0, 0, 0.831);
  transition-delay: 0.2s;
}

/* === */
/* OffCanvas */

.offcanvas {
  overflow-y: auto;
  width: 265px;
  min-width: 300px;
  border-top: 1px solid  rgba(212, 212, 212, 1);
  border-right: 1px solid  rgba(212, 212, 212, 1);
  top: 135px;
}

.offcanvas .btn-close {
    visibility: hidden;
  }


  .categoryOffCanvas{
    color: rgba(85, 85, 85, 1);
    text-decoration: none;
    font-weight: 400;
    font-size: 18px;
    text-align: Center;
    cursor: pointer;
  }

  .itemOffCanvas{
    height: 43px;
    width: 100%;
    padding:0px 34px 0px 32px;
    margin: 5px 0px 15px 0px;
    border-bottom: 1px rgb(212 212 212 / 24%) solid;
  }



  /* === */
  /* Border Nav */
  .borderOfNav{
    border-width: 1px 0px 1px 0px;
    border-color:rgba(212, 212, 212, 1) ;
  }





.product-section
{
  margin: 40px 20px;
}


.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #D7D7D780;
  padding-bottom: 10px;
  margin-bottom: 10px;
}

.title {
  font-size: 16px;
  font-weight: 500;
  line-height: 18px;
  letter-spacing: 0.02em;
  text-align: center;
  color: #316047CC;
}

.view-all {
  color: #009058;
  text-decoration: none;
  font-size: 12px;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: 0.02em;
  text-align: center;
}

.view-all:hover {
  text-decoration: underline;
}



.product-list {
  display: flex;
  flex-wrap: wrap;
  gap:20px;
  text-decoration: none;
}

.product-list a {
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: 0.02em;
  margin-bottom: 10px;
  color: #888888;
  text-decoration: none;
}


.product-list a:hover {
  text-decoration: underline;
}

.close  i{
  cursor: pointer;
}

@media (max-width: 992px) {
  .bars{
    position: absolute;
    top:-100px;
    margin-left: 10px;
  }

  .offcanvas{
    padding-top: 10px;
    position: fixed;
    top: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
  }

  .itemOffCanvas{
    height: fit-content;
    border: none;
    margin: 0px;
  }
  .itemOffCanvas a{
    padding: 20px;
    display: block;
    text-align: left;
  }
  .itemOffCanvas:not(:last-of-type){
    border-bottom: 1px solid #D7D7D780;
  }
  .offcanvas-body{
    padding: 0;
  }
}


