/*===*/
/*breadcrumb*/
.breadcrumb i {
  color: #00000066;
  font-size: 15px;
}
.breadcrumb li a {
  text-decoration: none !important;
  color: #00000066 !important;
}
.breadcrumb li:last-of-type {
  color: #808080 !important;
}

/* ========= */
/* FOr carousal */

@keyframes smartAnimate {
  0% {
    opacity: 0;
  }
  20% {
    opacity: .3;
  }
  75% {
    opacity: .7;
    /* transform: scale(.8); */
  }
  100% {
    opacity: 1;
    /* transform: scale(1); */
  }
}

.non-active-thumbnail{
  box-shadow: 0px 3px 3px 3px rgba(0, 0, 0, 0.06);
  border-radius: 6px;
}

.active-thumbnail {
  border-radius: 6px;
  box-shadow: 0px 3px 3px 0px rgba(0, 0, 0, 0.05);
  /* animation: smartAnimate 1s ease-in; */

}


.imgOfGalleria {
  width: 100%;
  height: 500px;
  margin-left: 50px !important;
  box-shadow: -2px 4px 11px 5px rgba(0, 0, 0, 0.05);
  margin-top: 20px;
  animation: smartAnimate 500ms ease-in;

}


/* === */
/* button  */
.btnBuying {
  width: 100%;

  border-radius: 20px;
  display: inline-block;
}

.btnBuying:hover {
  background-color: white;
  color: black;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.5) !important;
  opacity: 0.8;
}

/* === */
/* Side section of galleria */
.txtOfProdName {
  font-size: 22px;
  font-weight: 600;
  font-family: "Montserrat", sans-serif;
  line-height: 40px;
}

.txtOfProdDesc {
  max-width: 332px;
  color: rgba(0, 0, 0, 0.6);
  font-weight: 400;
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  line-height: 25px;
  overflow-wrap: break-word;
  word-break: break-word;
  margin-bottom: 20px;
}


/* Filters of product */

.prodFilters {
  border-top: 1px rgba(0, 0, 0, 0.15) solid;
}

.product-header p {
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  font-weight: 500;
  line-height: 17.07px;
  color: rgba(0, 0, 0, 0.4);
}

.product-header a {
  text-align: Center;
  font-size: 14px;
  font-weight: 500;
  line-height: 16px;
  font-family: "Montserrat", sans-serif;
  background: linear-gradient(
    90deg,
    rgba(9, 118, 76, 0.64) 3.05%,
    rgba(89, 105, 99, 0.8) 103.66%
  );

  background-clip: text;
  -webkit-text-fill-color: transparent;
  cursor: pointer;
}

/* Animation when i clicked on learn more */

@keyframes dissolve {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.dissolve {
  animation-name: dissolve;
  animation-timing-function: ease-in-out;
  animation-duration: 100ms;
}

/* items of filteration */
.cardOfFilter {
  border-radius: 6px;
  padding: 18px;
  background-color: rgba(240, 240, 240, 1);
  position: relative;
  width: 100%;
}

.cardOfFilter:hover{
  cursor: pointer;
}

/* ===*/
/* Best Picks */

/* Lowest Price active*/
.cardOfFilter.active {
  background-color: rgba(22, 157, 105, 1);
  cursor:default;
}
.cardOfFilter.active .txtOfFilterItem ,.cardOfFilter.active .txtOfPriceItem{
  color: white;
 }

 /* Most popular active*/
.cardOfFilter.activeMostPopular {
  background-color: rgba(103, 41, 125, 1);
  cursor:default;
}

.cardOfFilter.activeMostPopular .txtOfFilterItem ,.cardOfFilter.activeMostPopular .txtOfPriceItem{
  color: white;
 }

/* === */
/* Condition */

/* Fair Active */
.cardOfFilter.ActiveFair {
  background-color: rgba(92, 103, 98, 1);
  cursor:default;
}

.cardOfFilter.ActiveFair .txtOfFilterItem2 ,.cardOfFilter.ActiveFair .txtOfPriceItem{
  color: white;
 }

 /* Good  Active*/
.cardOfFilter.ActiveGood {
  background-color: rgba(139, 151, 145, 1);
  cursor:default;
}

.cardOfFilter.ActiveGood .txtOfFilterItem2 ,.cardOfFilter.ActiveGood .txtOfPriceItem{
  color: white;
 }

 /* Excellen  Active*/
 .cardOfFilter.ActiveExcellen {
  background-color: rgba(42, 52, 48, 1);
  cursor:default;
}

.cardOfFilter.ActiveExcellen .txtOfFilterItem2 ,.cardOfFilter.ActiveExcellen .txtOfPriceItem{
  color: white;
 }


/* === */
/* Storage */
.cardOfFilter.Active128 {
  background-color: rgba(120, 120, 120, 1);
  cursor:default;
}

.cardOfFilter.Active128 .txtOfFilterItem3 {
  color: white;
 }


 /* === */
 /* color */
 /* Grey */
 .cardOfFilter.ActiveGrey {
  background-color: rgba(82, 81, 79, 1);
  cursor:default;
  
}

.cardOfFilter.ActiveGrey .txtOfFilterItem3 {
  color: white;
 }

 /* ActiveSilver */
 .cardOfFilter.ActiveSilver {
  background-color: rgba(197, 197, 197, 1);
  cursor:default;
}

.cardOfFilter.ActiveSilver .txtOfFilterItem3 {
  color: rgba(0, 0, 0, 1);
  font-weight: 500;
 }



/* svg position */
.checkmark {
  position: absolute; 
  top: -20px; 
  right: -13px;
  z-index: 1;
}



.txtOfFilterItem {
  color: rgba(125, 125, 125, 0.8);
  font-weight: 500;
  font-size: 16px;
  line-height: 16px;
  font-family: "Montserrat", sans-serif;
  text-align: center;
}

.txtOfPriceItem {
  color: rgba(0, 0, 0, 0.6);
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  font-family: "Montserrat", sans-serif;
  text-align: center;
}

.txtOfFilterItem2 {
  color: rgba(0, 0, 0, 0.8);
  font-weight: 500;
  font-size: 16px;
  line-height: 16px;
  font-family: "Montserrat", sans-serif;
  text-align: center;
}

.txtOfFilterItem3 {
  color: rgba(0, 0, 0, 0.8);
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  font-family: "Montserrat", sans-serif;
  text-align: center;
}

.cardOfFilter span {
  border-radius: 50%;
  width: 14px;
  height: 14px;
}

.dotOfGrey {
  background-color: rgba(82, 81, 79, 1);
}
.dotOfSilver {
  background-color: rgba(197, 197, 197, 1);
}

/* === */
/* Add To Cart */
.btnAddToCart {
  width: 100%;
  background: radial-gradient(
      96.03% 11208.71% at 3.97% 14.29%,
      rgba(11, 120, 78, 0.8) 0%,
      rgba(12, 87, 58, 0.8) 100%
    )
    /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */;
  color: white;
  font-weight: 500;
  font-size: 18px;
  line-height: 19.5px;
  font-family: "Montserrat", sans-serif;
  align-items: center;
}

/* === */
/* total reviews */
.totalReviews {
  border-top: rgba(0, 0, 0, 0.15) 1px solid;
  border-bottom: rgba(0, 0, 0, 0.15) 1px solid;
}

.totalReviews span,
.totalReviews p {
  color: rgba(10, 103, 52, 1);
  font-weight: 500;
  font-size: 16px;
  font-family: "Montserrat", sans-serif;
  align-items: center;
  margin-bottom: 0;
  letter-spacing: 2px;
}

.moreLink {
  text-decoration: none;
  color: rgba(70, 201, 129, 1);
  font-weight: 500;
  font-size: 16px;
  font-family: "Montserrat", sans-serif;
  align-items: center;
}


/* === */
/* Info of ordering  */

.txtOfVerified{
  color: rgba(0, 0, 0, 0.64);
  font-weight: 500;
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  line-height: 16px;
}

.txtInfoOfOrder{
  padding-bottom: 20px;
  border-bottom: 1px rgba(0, 0, 0, 0.15) solid;

}


/* === */
/* OffCanvases */

.HeadOfOffcanvas{
  /* padding-bottom: 20px; */
  border-bottom: 1px rgba(0, 0, 0, 0.15) solid;

}

.HeadOfOffcanvas:hover{
  
  cursor: pointer;
  background-color: rgb(233, 229, 229);

}
.txtOfHeadOfOffcanvas{
  color: rgba(77, 77, 77, 1);
  font-weight: 500;
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  line-height: 20px;

}

.offcanvas {
  overflow-y: auto;
  /* width: 265px;
  min-width: 18%; */
  border: 1px, 0px, 0px, 0px;
  border-color: rgba(212, 212, 212, 1);
  top: 120px;
}

.offcanvas .btn-close {
    visibility: hidden;
  }


  /* === */
  /* Refurbished section */

  .RefurbishedSection{
    background-color: #F9F9F9;
    border-radius:12px ;
    gap: 6px;
  }
  

  .txtOfFirstRefurbished{
    color: rgba(17, 17, 17, 1);
    font-weight: 500;
    font-family: "Montserrat", sans-serif;
    font-size: 16px;
    line-height: 20px;
    
  }

  .txtOfLive{
    color: rgba(85, 85, 85, 1);
    font-weight: 300;
    font-family: "Montserrat", sans-serif;
    font-size: 13.34px;
    line-height: 16px;
  }

  .txtOfAccept{
    color: rgba(17, 17, 17, 1);
    font-weight: 300;
    font-family: "Montserrat", sans-serif;
    font-size: 13.34px;
    line-height: 16px;

  }

/* ======== */
/* Responsive */

@media screen and (max-width: 790px) {
  .p-galleria-item-prev,
  .p-galleria-item-next {
    display: none;
  }
  .p-galleria-item-container {
    width: 100%;
  }
}

@media screen and (max-width: 620px) {
  .p-galleria-thumbnail-container {
    display: none;
  }
}
