p,
span,
a,
div {
  text-wrap: wrap;
}

/*===*/
/*breadcrumb*/
.breadcrumb i {
  color: #00000066;
  font-size: 15px;
}
.breadcrumb li a {
  text-decoration: none !important;
  color: #00000066 !important;
}
.breadcrumb li:last-of-type {
  color: #808080 !important;
}

/* ========= */
/* FOr carousal */

@keyframes smartAnimate {
  0% {
    opacity: 0;
  }
  20% {
    opacity: 0.3;
  }
  75% {
    opacity: 0.7;
    /* transform: scale(.8); */
  }
  100% {
    opacity: 1;
    /* transform: scale(1); */
  }
}

.non-active-thumbnail {
  box-shadow: 0px 3px 3px 3px rgba(0, 0, 0, 0.06);
  border-radius: 6px;
}

.active-thumbnail {
  border-radius: 6px;
  box-shadow: 0px 3px 3px 0px rgba(0, 0, 0, 0.05);
  /* animation: smartAnimate 1s ease-in; */
}

.imgOfGalleria {
  width: 100%;
  height: 500px;
  margin-left: 50px !important;
  box-shadow: -2px 4px 11px 5px rgba(0, 0, 0, 0.05);
  margin-top: 20px;
  animation: smartAnimate 500ms ease-in;
}

/* === */
/* button  */
.btnBuying {
  width: 100%;

  border-radius: 20px;
  display: inline-block;
}

.btnBuying:hover {
  background-color: white;
  color: black;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.5) !important;
  opacity: 0.8;
}

/* === */
/* Side section of galleria */
.txtOfProdName {
  font-size: 22px;
  font-weight: 600;
  font-family: "Montserrat", sans-serif;
  line-height: 40px;
}

.txtOfProdDesc {
  max-width: 332px;
  color: rgba(0, 0, 0, 0.6);
  font-weight: 400;
  font-size: 16px;
  line-height: 25px;
  overflow-wrap: break-word;
  word-break: break-word;
  margin-bottom: 20px;
}

/* Filters of product */

.prodFilters {
  border-top: 1px rgba(0, 0, 0, 0.15) solid;
}

.product-header p {
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  font-weight: 500;
  line-height: 17.07px;
  color: rgba(0, 0, 0, 0.4);
  margin-bottom: 0;
}

.product-header a {
  text-align: Center;
  font-size: 14px;
  font-weight: 500;
  line-height: 16px;
  font-family: "Montserrat", sans-serif;
  background: linear-gradient(
    90deg,
    rgba(9, 118, 76, 0.64) 3.05%,
    rgba(89, 105, 99, 0.8) 103.66%
  );

  background-clip: text;
  -webkit-text-fill-color: transparent;
  cursor: pointer;
}
.product-header a :hover{
  background: none;
}

/* Animation when i clicked on learn more */

@keyframes dissolve {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.dissolve {
  animation-name: dissolve;
  animation-timing-function: ease-in-out;
  animation-duration: 100ms;
}

/* items of filteration */
.cardOfFilter {
  border-radius: 6px;
  padding: 18px;
  background-color: rgba(240, 240, 240, 1);
  position: relative;
  width: 100%;
}

.cardOfFilter:hover {
  cursor: pointer;
}

/* ===*/
/* Best Picks */

.txtOfMainOff{
  color:rgba(0, 0, 0, 1) !important;
  font-weight: 500;
  font-size: 16px;
  letter-spacing: 2px;
  line-height:21.74px;
}

.txtOfSubOff{
  color:rgba(98, 98, 98, 1);
  font-weight: 400;
  font-size: 15px;
  letter-spacing: 2px;
  line-height:20.38px;
  text-align: center;
}

.bestPickOff{

  border-bottom: rgba(193, 193, 193, 1) 1px solid;
}



#scrollHeight {
  overflow: scroll;
  height: 744px;
}
#scrollHeight::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
#scrollHeight {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
/* Name product */
#hiddenDiv {
  display: none !important;
}

/* Lowest Price active*/
.cardOfFilter.active {
  background-color: rgba(22, 157, 105, 1);
  cursor: default;
}
.cardOfFilter.active .txtOfFilterItem,
.cardOfFilter.active .txtOfPriceItem {
  color: white;
}

/* Most popular active*/
.cardOfFilter.activeMostPopular {
  background-color: rgba(103, 41, 125, 1);
  cursor: default;
}

.cardOfFilter.activeMostPopular .txtOfFilterItem,
.cardOfFilter.activeMostPopular .txtOfPriceItem {
  color: white;
}

/* svg position */
.checkmark {
  position: absolute;
  top: -20px;
  right: -13px;
  z-index: 1;
  animation: checkmark ease-in-out 1s  ;
}
@keyframes checkmark{
  0% {
    transform: rotate(60deg);
  }
  100% {
    transform: rotate(0);
  }
}
.txtOfFilterItem {
  color: rgba(125, 125, 125, 0.8);
  font-weight: 500;
  font-size: 16px;
  line-height: 16px;
  font-family: "Montserrat", sans-serif;
  text-align: center;
}

.txtOfPriceItem {
  color: rgba(0, 0, 0, 0.6);
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  font-family: "Montserrat", sans-serif;
  text-align: center;
}

/* === */
/* Add To Cart */
.btnAddToCart {
  width: 100%;
  background: radial-gradient(
      96.03% 11208.71% at 3.97% 14.29%,
      rgba(11, 120, 78, 0.8) 0%,
      rgba(12, 87, 58, 0.8) 100%
    );
  color: white;
  font-weight: 500;
  font-size: 18px;
  line-height: 19.5px;
  font-family: "Montserrat", sans-serif;
  align-items: center;
}

/* === */
/* total reviews */
.totalReviews {
  border-top: rgba(0, 0, 0, 0.15) 1px solid;
  border-bottom: rgba(0, 0, 0, 0.15) 1px solid;
}

.totalReviews span,
.totalReviews p {
  color: rgba(10, 103, 52, 1);
  font-weight: 500;
  font-size: 16px;
  font-family: "Montserrat", sans-serif;
  align-items: center;
  margin-bottom: 0;
  letter-spacing: 2px;
}

.moreLink {
  text-decoration: none;
  color: rgba(70, 201, 129, 1);
  font-weight: 500;
  font-size: 16px;
  font-family: "Montserrat", sans-serif;
  align-items: center;
}

/* === */
/* Info of ordering  */

.txtOfVerified {
  color: rgba(0, 0, 0, 0.64);
  font-weight: 500;
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  line-height: 16px;
  text-wrap: wrap;
}

.txtInfoOfOrder {
  padding-bottom: 20px;
  border-bottom: 1px rgba(0, 0, 0, 0.15) solid;
}

/* === */
/* OffCanvases */

.HeadOfOffcanvas {
  border-bottom: 1px rgba(0, 0, 0, 0.15) solid;
}

.HeadOfOffcanvas:hover {
  cursor: pointer;
  background-color: rgb(233, 229, 229);
}
.txtOfHeadOfOffcanvas {
  color: rgba(77, 77, 77, 1);
  font-weight: 500;
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  line-height: 20px;
}

.offcanvas {
  width: 431px;
  min-width: 18%;
  border: 1px, 0px, 0px, 0px;
  border-color: rgba(212, 212, 212, 1);
  top: 0;
  overflow-y: scroll;

}
.off-canvas.open {
  transform: translateX(0);
}
.offcanvas .btn-close {
  visibility: hidden;
}

/* === */
/* Side Section Technical */
.HeaderSideOffCanvas {
  padding-bottom: 30px;
  color: rgba(9, 118, 76, 0.8);
  font-weight: 500;
  font-size: 18px;
  letter-spacing: 8%;
  line-height: 21.94px;
  border-bottom: rgba(193, 193, 193, 1) 1px solid;
  padding-top: 0;

  position: relative;
  text-align: center;
}

.HeaderSideOffCanvas span {
  text-align: center;
}

.HeaderSideOffCanvas i ,.svgOff{
  position: absolute;
  left: 0;

  cursor: pointer;
}
.offcanvas-body {
  margin: 30px 0;
}

/*  Hide Scroll  */
.ffcanvas::-webkit-scrollbar ,.offcanvas-end::-webkit-scrollbar,
.offcanvas-body::-webkit-scrollbar{
 display: none !important;
}

/* Body */
.textOfDescriptionTech{
font-weight: 400;
color: rgba(98, 98, 98, 1);
font-size: 16px;
letter-spacing: 2px;
line-height: 21.74px;
margin-top: 25px;

}

.VerifiedTxtTechOff{
  font-weight: 500;
color: rgba(0, 0, 0, 1);
font-size: 16px;
letter-spacing: 1px;
line-height: 21.74px;
margin-top: 40px;
}

.RebornTxtOff{
  font-weight: 400;
  color: rgba(98, 98, 98, 1);
  font-size: 15px;
  letter-spacing: 1.5px;
  line-height: 20.38px;
  margin-top: 20px;
}

.searchOffTech{
  margin-top: 40px;

}
input[type="text"]{
  background-color: rgba(244, 244, 244, 1);
  border-radius: 6px;
  width: 100%;
  outline: none;
  border: none;
  padding: 10px 16px;
}
input[type="search"]::-webkit-search-cancel-button {
  color: #000;
}


input::placeholder ,input::-moz-placeholder
,input:-ms-input-placeholder ,input::-ms-input-placeholder
,input:-moz-placeholder {
color: rgba(133, 133, 133, 1);
font-weight: 400;
font-size: 14px;
letter-spacing: 1.5px;
line-height: 19.03px;
}

.txtOfManufacturingOff ,.txtOfMGN63LLOff{
  color:rgba(71, 71, 71, 1);
  font-weight: 400;
  font-size: 14px;
  letter-spacing: 1px;
  line-height: 21.48px;
}

.ManufacturingOff{
  border-bottom: rgba(193, 193, 193, 1) 1px solid;

}

/* === */
/* Perks & benefits */

.txtMainPerks{
  color:rgba(0, 0, 0, 1);
  font-weight: 500;
  font-size: 16px;
  letter-spacing: 1px;
  line-height: 21.74px;
}
.txtDecriptionPerks{
  color:rgba(98, 98, 98, 1);
  font-weight: 400;
  font-size: 15px;
  letter-spacing: 1px;
  line-height:20.38px;
}

/* === */
/* Frequently asked questions */

.filter-menu{
  color:rgba(98, 98, 98, 1);
  cursor: pointer;
  font-weight: 400;
  font-size: 16px;
  letter-spacing: 1.5px;
  line-height:21.74px;
  border-bottom: rgba(193, 193, 193, 1) 1px solid;

}
.filter-menu i{
  color:rgba(138, 138, 138, 0.8);
}
.filter-menu p{
  margin-bottom: 0;
}

.menu div{
  max-height: 160px ;
  overflow-y: auto;
  color:rgba(98, 98, 98, 1);
  font-weight: 400;
  font-size: 15px;
  letter-spacing: 1px;
  line-height:21.59px;
}




/* === */
/* Refurbished section */

.RefurbishedSection {
  background-color: #f9f9f9;
  border-radius: 12px;
  gap: 6px;
}

.txtOfFirstRefurbished {
  color: rgba(17, 17, 17, 1);
  font-weight: 500;
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  line-height: 20px;
}

.txtOfLive {
  color: rgba(85, 85, 85, 1);
  font-weight: 300;
  font-family: "Montserrat", sans-serif;
  font-size: 13.34px;
  line-height: 16px;
}

.txtOfAccept {
  color: rgba(17, 17, 17, 1);
  font-weight: 300;
  font-family: "Montserrat", sans-serif;
  font-size: 13.34px;
  line-height: 16px;
}

/* ======== */
/* Responsive */

@media screen and (max-width: 1399px) {
  .imgOfGalleria {
    margin-left: 0 !important;
  }
  .txtOfFilterItem,
  .txtOfFilterItem2,
  .txtOfFilterItem3 {
    font-size: 13px;
  }
  .txtOfPriceItem {
    font-size: 10px;
  }
}

@media (max-width: 991px) {
  #hiddenDiv {
    display: block !important;
  }
  #proHeaderid {
    display: none !important;
  }
  #scrollHeight {
    height: 1450px !important;
  }
  .drag-scroll-wrapper {
    height: 1450px !important;
  }
  #fixedDiv {
    display: block;
  }
}

@media screen and (max-width: 600px) {
  .imgOfGalleria {
    width: 90%;
    height: 400px;
  }
  .txtOfFilterItem,
  .txtOfFilterItem2,
  .txtOfFilterItem3 {
    font-size: 11px;
  }
  .txtOfPriceItem {
    font-size: 9px;
  }
  .txtOfProdName {
    font-size: 19px;
    margin: 0 25px 0 25px;
  }
  .breadcrumb {
    font-size: 12px;
  }
  .breadcrumb i {
    font-size: 12px;
  }
  .txtOfProdDesc {
    font-size: 13px;
    padding: 0 20px 0 20px;
  }
  .prodFilters {
    padding-left: 18px;
  }
  .besideSection {
    padding: 0 20px 0 20px;
  }
}

@media screen and (max-width: 475px) {
  .txtOfProdName p {
    margin-bottom: 0.5rem !important;
  }
  .imgOfGalleria {
    height: 300px;
  }
  .cardOfFilter {
    padding: 8px;
  }
  .totalReviews span,
  .totalReviews p,
  .moreLink {
    font-size: 13px;
  }
}

@media screen and (max-width: 400px) {
  .breadcrumb {
    font-size: 10px;
  }
  .breadcrumb i {
    font-size: 10px;
  }
  .txtOfProdDesc {
    font-size: 10px;
  }
  .txtOfFirstRefurbished {
    font-size: 14px;
  }

  .checkmark {
    width: 30px;
  }
  .txtOfFilterItem3 {
    font-size: 9px;
  }
}
@media screen and (max-width: 375px) {
  .breadcrumb {
    font-size: 9px;
  }
  .breadcrumb i {
    font-size: 9px;
  }
  .txtOfProdDesc {
    font-size: 10px;
  }
  .txtOfFirstRefurbished {
    font-size: 14px;
  }

  .checkmark {
    width: 30px;
  }
  .txtOfFilterItem3 {
    font-size: 9px;
  }
}

@media screen and (max-width: 342px) {
  .breadcrumb {
    font-size: 7px;
  }
  .breadcrumb i {
    font-size: 7px;
  }
  .txtOfProdName {
    font-size: 15px;
  }
  .imgOfGalleria {
    height: 200px;
  }
  .txtOfProdDesc {
    font-size: 8px;
  }
  .product-header a,
  .product-header p {
    font-size: 10px;
    margin-bottom: 0;
  }

  .totalReviews span,
  .totalReviews p {
    font-size: 11px;
  }

  .moreLink {
    font-size: 9px;
  }
  .svgWidth {
    width: 30px;
  }
  .txtOfLive {
    font-size: 9px;
  }
  .txtOfFirstRefurbished {
    font-size: 12px;
  }
}
/* btn loader */

.cardOfFilter:has(.loader) {
  position: relative;
  display: flex;
  justify-content: center;
  background-color: rgba(240, 240, 240, 1) !important;
}
.loader {
  position: absolute;
  width: 100%;
  left: 50%;
  transform: translateX(-50%);
  width: 18px;
  height: 18px;
  border-radius: 50%;
  display: inline-block;
  position: relative;
  border: 3px solid;
  border-color: #FFF #FFF transparent transparent;
  box-sizing: border-box;
  animation: rotation 2s linear infinite;
}
.loader::after,
.loader::before {
  content: '';
  box-sizing: border-box;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  border: 3px solid;
  border-color: transparent transparent #000 #000;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  box-sizing: border-box;
  animation: rotationBack 1s linear infinite;
  transform-origin: center center;
}
.loader::before {
  width: 14px;
  height: 14px;
  border-color: #FFF #FFF transparent transparent;
  animation: rotation 3s linear infinite;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes rotationBack {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(-360deg);
  }
}
.prd-overlay{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
}
