/* You can add global styles to this file, and also import other style files */

@import "primeng/resources/primeng.css";

@import"bootstrap/dist/css/bootstrap.min.css";
@IMPORT "@fortawesome/fontawesome-free/css/all.min.css";
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import "primeng/resources/themes/lara-light-blue/theme.css";

body {
  font-family: "Montserrat", sans-serif;
  overflow-x: hidden;
}
body:has(.offcanvas.show),
body:has(.mobile-filter:not(.d-none)){
  overflow: hidden;
}

.p-galleria .p-galleria-thumbnail-container{
  background-color:  transparent ;
  width: 100%;
  padding-top: 60px;
}

.p-galleria-item-prev,
.p-galleria-item-next {
  display:none !important;

}

#pn_id_1 .p-galleria-thumbnail-item {
  flex: 1 0 auto !important;
}

.p-galleria-thumbnail-items-container{
  height: 400px !important;
}



@media screen and (max-width: 1399px) {
  .p-galleria-thumbnail-items-container{
    height: auto !important;
  }
  .p-galleria .p-galleria-thumbnail-container{
    padding-top: 30px;
    padding-bottom: 30px;
    margin-bottom: 20px;
  }
}

@media screen and (max-width: 600px) {
  .p-galleria .p-galleria-thumbnail-container{
    margin-left: 50px;
    width: 80%;
  }
}

.drag-scroll-content{
  overflow: auto !important;
}
.drag-scroll-content {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}
.drag-scroll-content::-webkit-scrollbar {
  display: none;
}

/* pagination */

.pagination .p-highlight,
.pagination .p-paginator-page{
  min-width: 2rem ;
  color: rgba(0 ,0 ,0 ,.3);
}
.pagination .p-highlight{
  background-color: transparent;
  color: #000;
}
.p-paginator .p-paginator-first, .p-paginator .p-paginator-prev, .p-paginator .p-paginator-next, .p-paginator .p-paginator-last{
  min-width: 2rem ;
}
.pagination p-paginator{
  cursor: default;
}
