<div class="prd-card p-0 pb-2"  draggable="false" [ngClass]="{'products-page': isProductPage}">
  <div class="prd-image w-100">
    <p-skeleton width="100%" height="180px" />
  </div>
  <div class="card-body mt-4">
    <div class="w-100 mb-4">
      <p-skeleton height="12px" />
    </div>
    <div class="prd-info d-flex justify-content-between align-items-center mb-4">
      <div class="w-100">
        <p-skeleton height=".5rem" width="75%"/>
      </div>
      <div class="colors d-flex gap-1">
        @for (color of [1,2,3]; track $index) {
          <p-skeleton shape="circle" size="12px" styleClass="mr-2" />
        }
      </div>
    </div>
    <div class="mb-2">
      <p-skeleton height="9px" />
    </div>
  </div>
</div>
