.prd-card {
  min-width: 235px;
  border-radius: 6px;
  box-shadow: 0px 4px 11px 0px #00000014;
  -webkit-user-select: none;
  user-select: none;
  padding-inline: 16px;
  gap: 16px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.products-page{
  min-width: 292px;

}
.prd-image {
  width:  235px;
}


.prd-rate i {
  margin-left: 5px;
  color: #EFD80D;
}

.prd-info {
  color: #858585;
  margin-bottom: 8px;
}

.card-body {
  width: 100%;
  padding-inline: 16px;
}


.prd-price {
  color: #09764CCC;
}

@media (max-width:767.5px) {
  .products-page.prd-card {
    flex-direction: row;
    padding-block: 30px;
  }

  .products-page .prd-image {
    width: 100px;
  }

  .products-page .prd-info {
    font-size: 14px !important;
  }
  .products-page .title h5{
    font-weight: 600;
    font-size: 18px;
  }
  .products-page .prd-price h5 {
    font-size: 16px;
  }

}
