<div class="container d-flex justify-content-center align-items-center ">

  <div class="notSignedSection d-flex flex-column align-items-center">

    <img class="imgOfNotSign " src="../../../../../assets/images/Not signedin.png" alt="">

    <div class=" pleaseSignIn  text-center">
      <p class="txtNotAccount pt-2">You don’t have an account yet !</p>
      <p class="txtToRegister pt-2">Please sign in or register </p>
      <button class="btn mt-4 btnOfSignIn">SIGN IN</button>
    </div>


  </div>
</div>